.BattleSimPuzzlesFilters__item {
  padding: 0 0.5em;
  margin-bottom: 1em;
}

.BattleSimPuzzlesFilters__info {
  color: var(--white);
  display: block;
  max-width: 40ch;
  text-transform: initial;
}

.BattleSimPuzzlesFilters__toggle {
  background-color: transparent;
  border: 0;
  color: var(--beige);
  padding: 0;
  font: inherit;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.BattleSimPuzzlesFilters__toggle:hover {
  border-bottom-color: currentColor;
}
