.BattleSimGameForm {
  flex: 1 1 100%;
}

.BattleSimGameForm__buttons {
  margin-top: 2em;
}

.BattleSimGameForm__radio {
  margin-right: 0.25em;
}

.BattleSimGameForm__label {
  margin-right: 1em;
}

.BattleSimGameForm__reset {
  margin-top: auto;
}

.BattleSimGameForm__grid-markers {
  margin-top: 0.75em;
}
