.DryRunnerCard {
  transition: 250ms;
  position: relative;
}

.DryRunnerCard--active {
  transform: scale(1.1);
  z-index: 2;
}

.DryRunnerCard__button {
  background-color: transparent;
  padding: 0;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}
