/**
 * 1. Arbitrary width for the notifications on desktop.
 */
.Notification {
  width: 18em; /* 1 */
  position: fixed;
  background-color: var(--black);
  border: 1px double var(--beige);
  right: 1.5em;
  bottom: 1.5em;
  padding: 1em;
  box-shadow: 0 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  margin: 0;
  z-index: 20;
}

/**
 * 1. Horizontal pseudo-element at the top and the bottom of the box to give it
 *    these cutted-out corners like in the game.
 */
.Notification::after,
.Notification::before {
  content: ''; /* 1 */
  position: absolute;
  left: 0.5em;
  height: 0.5em;
  right: 0.5em;
  border: inherit;
  background-color: inherit;
}

.Notification::before {
  bottom: 100%;
  border-bottom: 0;
}

.Notification::after {
  top: 100%;
  border-top: 0;
}

.Notification__icon {
  position: relative;
  top: 1.5px;
}

@media (max-width: 699px) {
  .Notification {
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    border-top: 1px solid var(--beige);
    width: 100%;
    font-size: 90%;
    border-radius: 0;
    box-shadow: 0 -0.2em 0 0.25em rgba(0, 0, 0, 0.1);
  }

  .Notification::before,
  .Notification::after {
    content: none;
  }
}
