.ButtonIcon {
  background-color: transparent;
  padding: 0;
  border: 0;
  font-size: 200%;
  width: 1.25em;
  height: 1.25em;
  line-height: 1em;
  color: var(--black);
  text-align: center;
  z-index: 2;
  transform: scale(0.8);
  cursor: pointer;
}

.ButtonIcon::before {
  content: '';
  z-index: -1;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: var(--beige);
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 0 0 0 1px var(--black), 0 0 0 2px var(--beige);
  transition: box-shadow 0.5s;
}

@media (max-width: 699px) {
  .ButtonIcon {
    font-size: 7vw;
  }
}

.ButtonIcon:hover::before {
  box-shadow: 0 0 0 1px var(--black), 0 0 0 2px var(--beige),
    0 0 0 4px var(--black), 0 0 0 5px var(--beige);
}
