.ValueCalculator__Controls {
  display: flex;
}

.ValueCalculator__Controls .CardSelect {
  flex: 1 1 80%;
}

.ValueCalculator__CardHolder {
  width: 225px;
  margin: 3em auto;
}

.ValueCalculator__table {
  text-align: center;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.ValueCalculator__table th {
  color: var(--beige);
}

.ValueCalculator__table th,
.ValueCalculator__table td {
  padding: 0.75em 0.5em;
  text-align: center;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.ValueCalculator__formula {
  max-width: 80%;
  display: block;
  height: auto;
  margin: 1em auto 3em;
}

@media (min-width: 700px) {
  .ValueCalculator__hint {
    text-align: center;
  }
}
