.CardBuilderContest__headline {
  font-size: 120%;
  margin-bottom: 3em;
}

.CardBuilderContest__title {
  margin-bottom: 1em;
}

.CardBuilderContest__rules {
  padding-left: 0;
  list-style-position: inside;
}

.CardBuilderContest__rules > li {
  margin-bottom: 0.5em;
  padding-left: 1.5em;
  text-indent: -1.5em;
}
