.CollectionFigures__item {
  color: var(--beige);
}

.CollectionFigures__list {
  margin-top: 0;
  padding-left: 1.25em;
}

.CollectionFigures__select {
  appearance: none;
  display: inline-block;
  width: 5ch;
  padding: 0;
  border: 0;
  border-bottom: 2px solid;
  border-radius: 0;
}
