.DryRunnerExplanation {
    list-style-position: inside;
    padding-left: 1em;
    margin-top: 0.5em;
}

.DryRunnerExplanation-list {
    margin-top: 0.25em;
    margin-bottom: 1em;
    padding-left: 1.5em;
    font-size: 90%;
}

.DryRunnerExplanation__item {
    margin-bottom: 0.2em;
    list-style-position: inside;
    padding: 0;
}

.DryRunnerExplanation__toggle {
    margin-left: 1ch;
    color: var(--beige);
}

.DryRunnerExplanation__toggle:hover {
    color: var(--white);
}
