.ListBuilderTierItem {
  display: inline-block;
  width: calc(20% - 0.5em);
  border: 1px solid var(--faction, rgba(255, 255, 255, 0.3));
  margin: 0.07em 0.25em;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.2em;
  position: relative;
  padding: 0;
}

.ListBuilderTierItem::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.ListBuilderTierItem--placeholder {
  border-style: dashed;
  border-color: rgba(255, 255, 255, 0.3);
  opacity: 0.7;
}

.ListBuilderTierItem__image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@media (min-width: 700px) {
  .ListBuilderTierItem {
    width: 4.66em;
    height: 4.66em;
  }
}

.ListBuilderTierItem__name {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
