.Radio {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 2.5em;
  margin: 0.5em 0;
  color: currentcolor;
}

/**
 * 1. Arbitrary translate to align the radio icon with its accompanying label.
 */
.Radio__icon {
  width: 1.25em;
  height: 1.25em;
  border: 1px solid var(--dark-beige);
  transform: translate(25%, -50%) rotate(45deg); /* 1 */
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
}

.Radio__input:checked + .Radio__icon::before {
  content: '';
  position: absolute;
  background-color: var(--beige);
  top: 20%;
  right: 20%;
  bottom: 20%;
  left: 20%;
}

/**
 * 1. Define the default browser outline on the icon itself so it looks like it
 *    can be focused.
 */
.Radio__input:focus + .Radio__icon {
  outline: auto 2px Highlight; /* 1 */
  outline: auto 5px -webkit-focus-ring-color; /* 1 */
}

.Radio__input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.Radio__input:disabled + .Radio__icon {
  cursor: not-allowed;
}

.Radio__input:disabled ~ .Radio__label {
  opacity: 0.5;
}
