.Row {
  display: flex;
  margin-left: -0.5em;
  margin-right: -0.5em;
  margin-bottom: 1em;
}

.Row--wide {
  margin-left: -1.25em;
  margin-right: -1.25em;
}

.Column {
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
  padding-right: 0.5em;
  transition: 250ms;
  flex: 1 0 calc(100% / var(--columns) * var(--spread, 1));
}

.Column--wide {
  padding-left: 1.25em;
  padding-right: 1.25em;
}

@media (max-width: 699px) {
  /**
  * 1. If the row is “desktop only”, it should be treated as a column on mobile.
  */
  .Row--desktop {
    flex-direction: column; /* 1 */
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .Column--desktop {
    flex: 1 1 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1em;
  }

  .Column--desktop:empty {
    margin-bottom: 0;
  }
}
