.BSCellForm__row {
  margin-bottom: 1em;
}

.BSCellForm__button {
  margin-top: auto;
}

.BSCellForm__radios {
  display: flex;
  margin-top: 0.25em;
  justify-content: space-between;
  padding-right: 1em;
}
