{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier",
  ],
  "plugins": [
    "react",
    "prettier",
    "cypress"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
  },
  "overrides": [
    {
      "files": [
        "cypress/**/*.js",
        "spec.js"
      ],
      "globals": {
        "cy": "readonly",
        "Cypress": "readonly",
        "before": "readonly",
        "beforeEach": "readonly"
      }
    },
    {
      "files": [
        "src/**/*.js"
      ],
      "excludedFiles": [
        "src/bot/**/*.js"
      ],
      "rules": {
        "no-console": "warn"
      }
    },
    {
      "files": [
        "**/*.js"
      ],
      "rules": {
        "import/no-anonymous-default-export": 0,
        "padding-line-between-statements": [
          "error",
          {
            "blankLine": "always",
            "prev": "var",
            "next": "return"
          }
        ],
        "radix": 2,
        "object-shorthand": [
          2,
          "properties"
        ],
        "react/jsx-curly-brace-presence": 2,
        "react/jsx-fragments": 2,
        "react-hooks/rules-of-hooks": 2,
        "react-hooks/exhaustive-deps": 2,
        "react/jsx-handler-names": 0,
        "react/display-name": 0,
        "react/jsx-pascal-case": [
          2,
          {
            "allowAllCaps": true
          }
        ],
        "react/prop-types": 0,
        "react/react-in-jsx-scope": 0,
      }
    }
  ]
}
