{
  "extends": ["react-app"],
  "overrides": [
    {
      "files": ["cypress/**/*.js"],
      "globals": {
        "cy": "readonly",
        "Cypress": "readonly",
        "before": "readonly",
        "beforeEach": "readonly"
      }
    },
    {
      "files": ["**/*.js"],
      "excludedFiles": ["bin/*"],
      "rules": {
        "no-console": "error",
        "padding-line-between-statements": [
          "error",
          { "blankLine": "always", "prev": "var", "next": "return" }
        ]
      }
    }
  ]
}
