# Dependencies
node_modules

# Dist
build
out

# Misc
.DS_Store

# Development
.env
.env.*
*.log*
.vscode
.eslintcache
.husky/_
.next
.vercel

# Artifacts
cypress/screenshots
.nyc_output
coverage
public/sitemap.xml
public/assets/images/formulas/*.png
cypress/fixtures/registry.json
