.CardProgress {
  position: relative;
}

.CardProgress__label {
  text-align: center;
  font-size: 135%;
  display: block;
  margin-top: 0.5em;
}

.CardProgress__image {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -25%);
  z-index: 2;
}

.CardProgress__image--stone {
  transform: translate(-50%, -35%) scale(0.9);
}
