.BrawlLossCounter {
  text-align: center;
  margin: 1em auto 2em;
}

.BrawlLossCounter__heart {
  display: inline-block;
  width: 3em;
  position: relative;
  margin: 0 0.25em;
}

.BrawlLossCounter__icon {
  font-size: 150%;
}

.BrawlLossCounter__icon--full {
  color: var(--shadowfen);
}

.BrawlLossCounter__icon--empty {
  color: var(--ironclad);
}

.BrawlLossCounter__icon--iron {
  color: var(--swarm);
  opacity: 0.7;
}

.BrawlLossCounter__shield {
  color: var(--light-winter);
  font-size: 90%;
  position: absolute;
  bottom: 15%;
  right: -5%;
}
