.BrawlLossCounter {
  position: static;
  text-align: center;
  margin-bottom: 1.75em;
}

@media (min-width: 700px) {
  .BrawlLossCounter {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.BrawlLossCounter__slot {
  position: relative;
  margin: 0 0.5ch;
  display: inline-block;
}

.BrawlLossCounter__icon {
  font-size: 150%;
}

.BrawlLossCounter__icon--full {
  color: var(--shadowfen);
}

.BrawlLossCounter__icon--empty {
  color: var(--ironclad);
}

.BrawlLossCounter__icon--iron {
  color: var(--swarm);
  opacity: 0.7;
}

.BrawlLossCounter__shield {
  color: var(--light-winter);
  font-size: 90%;
  position: absolute;
  bottom: 15%;
  right: -5%;
}
