.DeckBuilderTrackerView__hand .Column {
  flex-grow: 0;
}

.DeckBuilderTrackerView__hand {
  padding: 0 1.5em;
}

.DeckBuilderTrackerView__card-button {
  background-color: transparent;
  padding: 0;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

.DeckBuilderTrackerView__buttons {
  margin-top: 2em;
}

.DeckBuilderTrackerView__card-wrapper {
  transition: 250ms;
  position: relative;
}

.DeckBuilderTrackerView__card-wrapper--active {
  transform: scale(1.1);
  z-index: 2;
}

.DeckBuilderTrackerView__card-wrapper--inactive {
  opacity: 0.7;
  filter: grayscale(0.3);
}

.DeckBuilderTrackerView__board {
  margin-bottom: 3em;
}

.DeckBuilderTrackerView__mana {
  flex-direction: column;
  font-size: 125%;
  margin-bottom: 1em;
  display: flex;
}

.DeckBuilderTrackerView__mana > div {
  margin: 0;
  display: flex;
  align-items: center;
}

.DeckBuilderTrackerView__mana .Mana {
  margin-left: 1em;
}

.DeckBuilderTrackerView__mana .Checkbox {
  font-size: 60%;
}

.DeckBuilderTrackerView__info {
  margin-top: 3em;
}

.DeckBuilderTrackerView__info p {
  margin-top: 0;
  margin-bottom: 1em;
}

.DeckBuilderTrackerView__reset-checkbox {
  text-align: center;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

.DeckBuilderTrackerView__list {
  padding-left: 0;
  list-style-position: inside;
  margin-top: -0.5em;
}

.DeckBuilderTrackerView__list li {
  text-indent: -1.15em;
  padding-left: 1.15em;
}

.DeckBuilderTrackerView__hint {
  margin-top: 2em;
  text-align: center;
  font-size: 120%;
}

@media (max-width: 699px) {
  .DeckBuilderTrackerView__board > .Row {
    flex-wrap: wrap;
  }

  .DeckBuilderTrackerView__board > .Row > :nth-child(1) {
    flex: 1 1 100%;
  }

  .DeckBuilderTrackerView__board > .Row > :nth-child(2),
  .DeckBuilderTrackerView__board > .Row > :nth-child(3) {
    width: 50%;
    flex-grow: 1;
  }

  .DeckBuilderTrackerView__mana {
    align-items: center;
  }
}
