.BrawlCalculator__mode {
  margin-bottom: 1.5em;
}

.BrawlCalculator__setup {
  margin-top: 1.5em;
}

.BrawlCalculator__mode .Radio__label,
.BrawlCalculator__setup .Radio__label {
  color: var(--white);
}

.BrawlCalculator__rewards {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}
