.FAQ__toc {
  list-style-position: inside;
  padding-left: 0;
  margin-top: 0;
}

.FAQ__toc a {
  text-decoration: none;
}

.FAQ__toc-list {
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding-left: 1.5em;
}

.FAQ__toc-list > li {
  margin-bottom: 0.25em;
  list-style-position: inside;
  padding: 0;
}

.FAQ__toggle {
  margin-left: 1ch;
  color: var(--beige);
}

.FAQ__toggle:hover {
  color: var(--white);
}

.FAQ__image {
  display: block;
  margin: 0 auto 1em;
  max-width: 100%;
}

@media (min-width: 1000px) {
  .FAQ__image {
    margin: 0 auto;
    max-width: 50%;
    float: right;
  }
}
