/**
 * 1. Prevent the mana pool from being distorded when rendered in a flex
 *    container.
 */
.Mana {
  width: 2em;
  text-align: center;
  position: relative;
  flex: 0 0 auto; /* 1 */
}

/**
 * 1. Force a specific aspect ratio regardless of the actual width.
 */
.Mana::before {
  content: '';
  padding-top: 80%; /* 1 */
  display: block;
}

.Mana--disabled {
  filter: grayscale(1);
}

.Mana--pulse {
  animation: pulse 1s;
}

/**
 * 1. Absolute centering within its parent.
 */
.Mana__image {
  position: absolute; /* 1 */
  top: 50%; /* 1 */
  left: 50%; /* 1 */
  transform: translate(-50%, -50%); /* 1 */
  max-width: 100%;
  display: block;
}

/**
 * 1. Absolute centering within its parent based on background.
 */
.Mana__value {
  font-size: 110%;
  position: absolute; /* 1 */
  top: 50%; /* 1 */
  left: 50%; /* 1 */
  transform: translate(-50%, -50%) translateY(-10%); /* 1 */
}

@keyframes pulse {
  50% {
    filter: contrast(2);
    transform: scale(1.1)
  }
}
