.FanKit__item {
  position: relative;
}

.FanKit__image {
  display: block;
  margin: 1em auto;
  max-width: 100%;
  width: 300px;
  max-height: 300px;
  height: auto;
  object-fit: contain;
}

.FanKit__download {
  position: absolute;
  bottom: 1em;
  right: 1em;
  opacity: 0.25;
}

.FanKit__item:hover .FanKit__download {
  opacity: 1;
}

.FanKit__CTA {
  min-width: 0;
}
