.FanKit__item {
  position: relative;
}

.FanKit__image {
  display: block;
  margin: 1em auto;
  max-width: 100%;
  width: 300px;
  max-height: 300px;
  height: auto;
  object-fit: contain;
}

.FanKit__download {
  color: var(--beige);
  position: absolute;
  bottom: 1em;
  right: 1em;
  transition: 250ms;
  width: 1.75em;
  height: 1.75em;
  line-height: 1.75em;
  text-align: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  opacity: 0.25;
  padding: 0;
}

.FanKit__item:hover .FanKit__download,
.FanKit__download:active {
  opacity: 1;
}

.FanKit__download::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid var(--beige);
  transform: translate(-50%, -55%) rotate(45deg);
  left: 50%;
  top: 50%;
  z-index: -1;
  transition: inherit;
}

.FanKit__download:hover {
  color: var(--black);
}

.FanKit__download:hover::before {
  background-color: var(--beige);
}
