.BattleSimAppMobile {
  position: relative;
  flex: 1 1 100%;
  transition: transform 0.25s ease-in-out;
  overflow-x: hidden;
}

.BattleSimAppMobile__panel {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  transition: transform 0.25s ease-out;
  width: 100%;
  z-index: 10;
  overflow: auto;
}

.BattleSimAppMobile__panel--SETTINGS {
  right: 100%;
}

.BattleSimAppMobile__panel--CELL {
  left: 100%;
}

.BattleSimAppMobile--CELL .BattleSimAppMobile__panel--CELL {
  transform: translateX(-100%);
}

.BattleSimAppMobile--SETTINGS .BattleSimAppMobile__panel--SETTINGS {
  transform: translateX(100%);
}

.BattleSimAppMobile__board,
.BattleSimAppMobile__panel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.BattleSimAppMobile__panel-button {
  position: absolute;
  top: 0.5em;
}

.BattleSimAppMobile__panel-button--right {
  right: 0.5em;
}

.BattleSimAppMobile__panel-button--left {
  left: 0.5em;
}
