.Info {
  border: 1px solid var(--dark-beige);
  border-radius: 3px;
  padding: 1em;
  position: relative;
  margin: 2em 0;
}

.Info--with-cta {
  padding-bottom: 2.25em;
  margin-bottom: 3em;
}

.Info__title {
  position: absolute;
  bottom: 100%;
  transform: translateY(50%);
  padding: 0 0.5em;
  left: 1em;
  background-color: var(--black);
  color: var(--beige);
  font-size: 90%;
  text-transform: uppercase;
}

.Info__icon {
  margin-right: 0.25em;
  position: relative;
  top: 1.5px;
}

.Info__CTA {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%) translateY(3px);
  width: 50%;
  text-align: center;
}

.Info > :last-child {
  margin-bottom: 0;
}
