.Lexicon__heading {
  margin-bottom: 2em;
}

.Lexicon__title {
  margin-bottom: 0;
  color: var(--beige);
}

.Terms {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 1.5em;
}

.Terms > li {
  margin: 0.5em 0;
}
