.Article {
  margin-bottom: 6em;
}

.Article__meta {
  margin-top: -2em;
  text-transform: uppercase;
  color: var(--beige);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4em;
  text-align: center;
}

.Article__backLink {
  text-decoration: none;
  flex: 1 0 100%;
  margin-top: 0.5em;
  font-size: 80%;
}

.Article__backLink::before {
  content: 'â† ';
}

.Article__backLink:hover {
  text-decoration: underline;
}

.Article__content {
  font-size: 125%;
  max-width: 65ch;
  hyphens: auto;
  margin: auto;
}

.Article__fullwidth {
  position: relative;
  margin: 1.5em auto;
}

.Article__content:not(.Article__content--no-drop-cap)
  > p:first-of-type::first-letter {
  color: var(--beige);
  float: left;
  font-family: Georgia, serif;
  font-size: 81px;
  line-height: 60px;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 3px;
}

.Article__content strong {
  color: var(--beige);
}

.Article .Info,
.Article > div > .Row {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

@media (min-width: 700px) {
  .Article__meta {
    margin-bottom: 6em;
    display: flex;
    font-size: 120%;
  }

  .Article__backLink {
    margin-left: auto;
    flex: 0 0 auto;
    margin-top: 0;
    font-size: 100%;
  }

  .Article__fullwidth {
    margin: 3em calc(-50vw + 1200px / 2);
    padding: 0 var(--padding);
  }

  .Article .Info,
  .Article > div > .Row {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

.Article h2:not(.Teaser__title) {
  margin-top: 5em;
}

.Article h3 {
  color: var(--beige);
  margin-top: 2em;
}

.Article img:not([class]),
.Article video:not([class]) {
  margin: 2em auto;
  display: block;
  height: auto;
  max-width: 100%;
}

.Article ol ul:not([class]) {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.Article ol:not([class]),
.Article ul:not([class]) {
  padding: 0;
  list-style-position: inside;
  margin-bottom: 2em;
}

.Article li:not([class]) {
  padding-left: 1.4em;
  text-indent: -1.4em;
  margin-bottom: 0.5em;
}

.Article li ul {
  margin-top: 0.5em;
  margin-bottom: 0;
}
