.Article {
  margin-bottom: 6em;
}

/**
 * 1. Pull the meta content within the bottom spacing of the `HeaderBanner`
 *    component.
 */
.Article__meta {
  margin-top: -2em; /* 1 */
  text-transform: uppercase;
  color: var(--beige);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4em;
  text-align: center;
}

.Article__action {
  text-decoration: none;
  flex: 1 0 100%;
  margin-top: 0.5em;
  font-size: 80%;
  text-transform: uppercase;
}

.Article__action[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.Article__action:not([disabled]):hover {
  text-decoration: underline;
}

.Article__action-icon {
  margin-right: 1ch;
  position: relative;
  top: 0.2em;
}

.Article__action-icon:last-child {
  margin-left: 1ch;
  margin-right: 0;
}

.Article__content {
  hyphens: auto;
}

/**
 * 1. Historically, the site’s font size was set relatively small because it was
 *    mostly tools which required to display many things on screen at once such
 *    as the battle sim. However, as the site evolved, more and more content
 *    became text-based, such as stories, guides and over pages with a non-
 *    trivial amount of text content. The initial font size is no longer adequat
 *    and it’s too difficult/risky to increase it side-wide. Instead, most pages
 *    use the `Article` component as a main wrapper, which sets a larger font
 *    size. For pages which need to benefit from the `Article` layout but need
 *    the original small font size, the `smallFontSize` prop can be used.
 */
.Article__content:not(.Article__content--small) {
  font-size: 125%; /* 1 */
}

/**
 * 1. By default, the `Article` layout spreads across the entire 1200px width of
 *    the main container. However, when the context is mostly text-based, 1200px
 *    is too wide for comfortable reading. The `Article.Narrow` sub-component
 *    provides a narrower width adjusted to be reading length.
 */
.Article__narrow {
  max-width: 65ch; /* 1 */
  margin: auto;
}

/**
 * 1. This is a monstrosity, I know… `.Article__content` is the closest unique
 *    guaranteed container we have. Then, it should not have the `no-drop-cap`
 *    modifier. Then, find the first `.Article__narrow` (which is basically a
 *    text content container), then provided the first child is a paragraph,
 *    draw a drop-cap for first letter.
 */
.Article__content:not(.Article__content--no-drop-cap)
  .Article__narrow:first-child
  > p:first-child::first-letter /* 1 */ {
  color: var(--beige);
  float: left;
  font-family: Georgia, serif;
  font-size: 81px;
  line-height: 60px;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 3px;
}

.Article__content p:not([class]) strong {
  color: var(--beige);
}

.Article__embed {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.Article .Info + .Info {
  margin-top: 0;
}

.Article h2:not(.Teaser__title) {
  margin-top: 5em;
}

.Article h3:not([class]) {
  color: var(--beige);
  margin-top: 2em;
}

.Article img:not([class]),
.Article video:not([class]) {
  margin: 2em auto;
  display: block;
  height: auto;
  max-width: 100%;
}

.Article ol ul:not([class]) {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.Article ol:not([class]),
.Article ul:not([class]) {
  padding: 0;
  list-style-position: inside;
  margin-bottom: 2em;
}

.Article li:not([class]) {
  padding-left: 1.4em;
  text-indent: -1.4em;
  margin-bottom: 0.5em;
}

.Article li ul {
  margin-top: 0.5em;
  margin-bottom: 0;
}

@media (min-width: 700px) {
  .Article__meta {
    margin-bottom: 6em;
    display: flex;
    font-size: 120%;
    justify-content: space-between;
  }

  .Article__action {
    margin-left: auto;
    flex: 0 0 auto;
    margin-top: 0;
    font-size: 100%;
  }

  .Article__embed {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}
