.Error {
  margin: 3em auto;
  max-width: 350px;
  text-align: center;
}

.Error__title {
  font-size: 150%;
}

.Error__image {
  display: block;
  margin: 0 auto 1em;
  max-width: 250px;
}

.Error__pre {
  font: inherit;
  white-space: pre-line;
  color: var(--beige);
}
