.TrackerInfo {
  margin-top: 3em;
}

.TrackerInfo p {
  margin-bottom: 1em;
}

.TrackerInfo__list {
  padding-left: 0;
  list-style-position: inside;
  margin-top: -0.5em;
}

.TrackerInfo__list li {
  text-indent: -1.15em;
  padding-left: 1.15em;
}
