/**
 * 1. Align top border with other box placed in the sidebar.
 */
.BrawlMatches {
  margin-bottom: 4em;
  margin-top: -3px; /* 1 */
  width: 100%;
}

.BrawlMatches tr > td:first-child,
.BrawlMatches tr > th:first-child {
  width: 60px;
}

.BrawlMatches__edit {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.BrawlMatches__edit:hover {
  color: var(--dark-beige);
}

.BrawlMatches__milestone > td::after {
  content: '';
  position: absolute;
  width: 130%;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    var(--dark-beige),
    transparent
  );
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

/**
 * 1. The first table cell of each row contains the match number, and should be
 *    colored differently like in the game.
 */
.BrawlMatches td:first-of-type {
  color: var(--beige); /* 1 */
}

/**
 * 1. Color-code the match outcome green/red for quick read.
 */
.BrawlMatches__status--WON {
  color: var(--light-shadowfen); /* 1 */
}

.BrawlMatches__status--FORFEIT {
  color: var(--light-swarm); /* 1 */
}

/**
 * 1. Color-code the match outcome green/red for quick read.
 */
.BrawlMatches__status--SURRENDERED {
  color: var(--light-ironclad); /* 1 */
}

.BrawlMatches__status--LOST {
  color: var(--ironclad); /* 1 */
}

@media (max-width: 699px) {
  /**
   * 1. On desktop, the submit button is replacing the index in the first column
   *    but on mobile it should be displayed as a proper CTA after the fields,
   *    which requires flex to enable `order`.
   */
  .BrawlMatches tr.BrawlMatchForm {
    display: flex; /* 1 */
    flex-direction: column;
  }

  /**
   * 1. Place the cell containing the CTA after the other cells containing
   *    the fields.
   */
  .BrawlMatches tr.BrawlMatchForm > td:first-child {
    order: 1; /* 1 */
    text-align: center;
    padding-top: 0.75em;
  }

  .BrawlMatches__edit {
    position: static;
    transform: none;
    margin-left: 1em;
  }

  .BrawlMatches__milestone > td::after {
    content: none;
  }

  .BrawlMatches tr > td:first-child,
  .BrawlMatches tr > th:first-child {
    width: auto;
  }
}
