.CardChanges__section {
  margin-bottom: 3em;
}

.CardChanges__title {
  margin-bottom: 1.5em;
}

.CardChanges__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.CardChanges__list > li {
  margin: 0.5em 0;
}

.CardChanges__disclaimer {
  margin-bottom: 3em;
}
