.BookOpeningSimulator__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.BookOpeningSimulator__item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: calc(100% / var(--cards-per-row));
  padding: 1.25em 0.5em;
  position: relative;
}
