.CardsGallery {
  display: block;
  margin-left: -0.5em;
  margin-right: -0.5em;
}

.CardsGallery__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.CardsGallery__item {
  flex: 0 1 25%;
  padding: 1.25em 0.5em;
  position: relative;
}

/**
 * 1. Simulate a reflection with a sharp split gradient.
 * 2. Same horizontal spacing as the gallery item’s padding (taking into account
 *    the 150% font-size).
 * 3. Arbitrary position to cover the ability.
 */
.CardsGallery__in-deck {
  background-image: linear-gradient(
    45deg,
    rgb(210, 195, 141) 50%,
    rgb(226, 215, 175) 50%
  ); /* 1 */
  position: absolute;
  left: calc(0.5em * 100 / 150); /* 2 */
  right: calc(0.5em * 100 / 150); /* 2 */
  padding: 0.15em 0.5em;
  bottom: 20%; /* 3 */
  z-index: 2;
  text-align: center;
  text-transform: uppercase;
  font-size: 150%;
  color: var(--black);
}

.CardsGallery__button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

.CardsGallery__button:hover + .Card {
  transform: scale(1.08);
}

.CardsGallery__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2em;
}

.CardsGallery__nav-button {
  width: 150px;
}

@media (max-width: 699px) {
  .CardsGallery__nav-button {
    width: calc(50% - 1em);
  }
}

@media (max-width: 1099px) {
  .CardsGallery__item {
    flex: 0 1 calc(100% / 3);
  }
}

@media (max-width: 850px) {
  .CardsGallery__item {
    flex: 0 1 calc(100% / 2);
  }
}
