.Column {
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  transition: 250ms;
}

.Column--wide {
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.Column--3\/4 {
  flex: 0 1 75%;
}

.Column--1\/4 {
  flex: 0 1 25%;
}

.Column--1\/5 {
  flex: 0 1 20%;
}

.Column--2\/3 {
  flex: 0 1 calc(100% / 3 * 2);
}

.Column--1\/3 {
  flex: 0 1 calc(100% / 3);
}

.Column--1\/6 {
  flex: 1 1 calc(100% / 6);
}

@media (max-width: 699px) {
  .Column--desktop {
    flex: 1 1 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1em;
  }

  .Column--desktop:empty {
    margin-bottom: 0;
  }
}
