.BattleSimCards {
  display: flex;
  padding: 0 0.25em;
  z-index: 2;
}

.BattleSimCards__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 700px) {
  .BattleSimCards--cycle:hover .BattleSimCards__slot {
    opacity: 0.5;
  }

  .BattleSimCards--cycle:hover .BattleSimCards__slot:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.BattleSimCards__button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  border: 0;
  padding: 0;
  z-index: 2;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.BattleSimCards__slot {
  flex: 0 0 calc(25% - 0.5em);
  position: relative;
  margin: 0 0.25em;
  transition: 250ms;
}

.BattleSimCards__slot:hover {
  transform: scale(1.1);
  z-index: 2;
}

.BattleSimCards__slot::before {
  content: '';
  display: block;
  padding-top: 170%;
}

.BattleSimCards__button--empty:hover::after {
  opacity: 1;
}

.BattleSimCards__button--empty::after {
  content: '+';
  opacity: 0;
  font-size: 350%;
  left: 50%;
  top: 50%;
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1;
  transform: translate(-50%, -50%);
  transition: opacity 500ms;
}

.BattleSimCards__slot-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.25s;
}

.BattleSimCards__cycle-button {
  position: absolute;
  bottom: 100%;
  right: 0;
  min-width: 35%;
  margin-bottom: 1.5em;
}
