.YourDeckGhost {
  margin-bottom: 2em;
  position: relative;
}

.YourDeckGhost::before {
  content: '+';
  opacity: 0;
  font-size: 600%;
  left: 50%;
  top: 50%;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: opacity 500ms;
}

.YourDeckGhost:hover::before {
  opacity: 1;
}

.YourDeckGhost__button {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  display: block;
}

.YourDeckGhost .Deck {
  opacity: 0.5;
  transition: opacity 500ms;
}

.YourDeckGhost:hover .Deck {
  opacity: 1;
}

.YourDeckGhost__name {
  font-size: 120%;
  display: block;
  opacity: 0.5;
}
