.GuideBrawl__table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.GuideBrawl__table th:not(:empty),
.GuideBrawl__table td:not(:empty) {
  padding: 0.5em 0.25em;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

.GuideBrawl__select {
  appearance: none;
  display: inline-block;
  width: 1ch;
  padding: 0;
  border: 0;
  border-bottom: 2px solid;
  border-radius: 0;
  margin-left: 1ch;
}

.GuideBrawl__milestones {
  font-size: 80%;
}

.Article .GuideBrawl__milestones img {
  margin-top: 0;
  margin-bottom: 0;
}
