.GuideBrawl__select {
  appearance: none;
  display: inline-block;
  width: 1ch;
  padding: 0;
  border: 0;
  border-bottom: 2px solid;
  border-radius: 0;
  margin-left: 1ch;
}

.GuideBrawl__milestones {
  font-size: 80%;
}

.Article .GuideBrawl__milestones img {
  margin-top: 0;
  margin-bottom: 0;
}
