.BSPanel {
  padding: 1em;
  position: relative;
  flex: 1 1 auto;
}

.BSPanel__board-button {
  position: absolute;
  top: 0.5em;
}

.BSPanel--left .BSPanel__board-button {
  right: 0.5em;
}
.BSPanel--right .BSPanel__board-button {
  left: 0.5em;
}
