/**
 * 1. Position context for actual grid
 */
.BSBoardDesktop {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; /* 1 */
  overflow: hidden;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

html:not(.webp) .BSBoardDesktop--swarm {
  background-image: url('/assets/images/bg-swarm-desktop.png');
}
.webp .BSBoardDesktop--swarm {
  background-image: url('/assets/images/bg-swarm-desktop.webp');
}
html:not(.webp) .BSBoardDesktop--ironclad {
  background-image: url('/assets/images/bg-ironclad-desktop.png');
}
.webp .BSBoardDesktop--ironclad {
  background-image: url('/assets/images/bg-ironclad-desktop.webp');
}
html:not(.webp) .BSBoardDesktop--winter {
  background-image: url('/assets/images/bg-winter-desktop.png');
}
.webp .BSBoardDesktop--winter {
  background-image: url('/assets/images/bg-winter-desktop.webp');
}
html:not(.webp) .BSBoardDesktop--shadowfen {
  background-image: url('/assets/images/bg-shadowfen-desktop.png');
}
.webp .BSBoardDesktop--shadowfen {
  background-image: url('/assets/images/bg-shadowfen-desktop.webp');
}

/**
 * 1. Ensure proper ratio based on background size
 */
.BSBoardDesktop::before {
  content: ''; /* 1 */
  display: block; /* 1 */
  padding-top: 62.5%; /* 1 */
}

.BSBoardDesktop__health {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.BSBoardDesktop--swarm .BSBoardDesktop__health--RED {
  top: 8.4%;
  transform: translateX(-50%) translateX(10%);
}

.BSBoardDesktop--swarm .BSBoardDesktop__health--BLUE {
  top: 70.1%;
  transform: translate(-50%) translateX(-25%);
}

.BSBoardDesktop--shadowfen .BSBoardDesktop__health--RED {
  top: 7.6%;
  transform: translateX(-50%);
}

.BSBoardDesktop--shadowfen .BSBoardDesktop__health--BLUE {
  top: 69%;
  transform: translate(-50%);
}

.BSBoardDesktop--ironclad .BSBoardDesktop__health--RED {
  top: 7.8%;
  transform: translateX(-50%);
}

.BSBoardDesktop--ironclad .BSBoardDesktop__health--BLUE {
  top: 68.2%;
  transform: translate(-50%);
}

.BSBoardDesktop--winter .BSBoardDesktop__health--RED {
  top: 8.5%;
  transform: translateX(-50%);
}

.BSBoardDesktop--winter .BSBoardDesktop__health--BLUE {
  top: 69.2%;
  transform: translate(-50%);
}

.BSBoardDesktop__player {
  position: absolute;
  left: 10%;
  text-align: right;
}

.BSBoardDesktop__player--RED {
  top: 8%;
}

.BSBoardDesktop__player--BLUE {
  top: 79%;
}

/**
 * 1. Horizontal centering
 * 2. Hard-coded values based on background
 */
.BSBoardDesktop__grid {
  position: absolute; /* 1 */
  left: 50%; /* 1 */
  transform: translateX(-50%); /* 1 */
  width: 23%; /* 2 */
  top: 24%; /* 2 */
}

.BSBoardDesktop__cards {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 20%);
  width: 40%;
}
