.BattleSimPuzzle {
  display: flex;
  font-size: 125%;
}

.BattleSimPuzzle__image-wrapper {
  flex: 0 0 25%;
  margin-right: 1em;
}

@media (max-width: 699px) {
  .BattleSimPuzzle__image-wrapper {
    display: none;
  }
}

.BattleSimPuzzle__image {
  width: 100%;
}

.BattleSimPuzzle__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.BattleSimPuzzle__name {
  font-size: 150%;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
}

.BattleSimPuzzle__author {
  margin: 0;
}

.BattleSimPuzzle__details dt {
  color: var(--beige);
  display: inline;
  text-transform: capitalize;
  margin-right: 1ch;
}

.BattleSimPuzzle__details dd {
  margin: 0;
  display: inline;
}

.BattleSimPuzzle__details dd::after {
  content: '';
  display: block;
  width: 100%;
}

.BattleSimPuzzle__restriction {
  border-bottom: 1px dotted;
  cursor: help;
}
