.CompleteGuide h3 + ul {
  list-style: none;
}

.CompleteGuide h3 + ul > li {
  text-indent: -0.75em;
  padding-left: 0.75em;
}

.CompleteGuide h3 + ul > li:first-letter {
  color: var(--beige);
  font-family: monospace;
}

.CompleteGuide h3#swarm::before,
.CompleteGuide h3#ironclad::before,
.CompleteGuide h3#winter::before,
.CompleteGuide h3#shadowfen::before {
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  width: 0.8em;
  height: 0.8em;
  display: inline-block;
  margin-right: 0.5em;
  transform: translateY(1px);
}

.CompleteGuide h3#swarm::before {
  background-image: url('/assets/images/icon_swarm.png');
}
.CompleteGuide h3#ironclad::before {
  background-image: url('/assets/images/icon_ironclad.png');
}
.CompleteGuide h3#winter::before {
  background-image: url('/assets/images/icon_winter.png');
}
.CompleteGuide h3#shadowfen::before {
  background-image: url('/assets/images/icon_shadowfen.png');
}
