.Title {
  font-size: 100%;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 1.5em;
  font-weight: normal;
  color: var(--beige);
  overflow: hidden;
}

.Title__inner {
  position: relative;
}

.Title__inner::before,
.Title__inner::after {
  content: '';
  height: 1px;
  width: 1em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: currentColor;
}

.Title__inner::before {
  right: 100%;
  margin-right: calc(1em + 1.4142135623730951em / 2);
}

.Title__inner::after {
  left: 100%;
  margin-left: calc(1em + 1.4142135623730951em / 2);
}

.Title__content {
  position: relative;
  display: inline-block;
}

.Title__content::before,
.Title__content::after {
  content: '';
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  border: 1px solid;
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
}

.Title__content::before {
  right: 100%;
  margin-right: 1em;
}

.Title__content::after {
  left: 100%;
  margin-left: 1em;
}
