.TrackerHeader {
  margin-bottom: 3em;
}

.TrackerHeader__mana {
  flex-direction: column;
  font-size: 125%;
  display: flex;
}

.TrackerHeader__mana > div {
  margin: 0;
  display: flex;
  align-items: center;
}

.TrackerHeader__mana .Mana {
  margin-left: 1em;
}

.TrackerHeader__mana .Checkbox {
  font-size: 60%;
}

.TrackerHeader__reset-checkbox {
  text-align: center;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}
