.Layout {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

.Layout__body {
  padding: 2em 1.25em 4em;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}
