.CollectionFilters {
  margin-bottom: 1em;
}

.CollectionFilters .Row {
  margin-bottom: 0.5em;
}

.CollectionFilters__toggle {
  display: block;
  margin: 0 auto 0.75em;
}

.CollectionFilters__reset {
  margin: 0.5em auto 0;
}

@media (min-width: 700px) {
  .CollectionFilters > .Row:last-child .Column:last-child {
    align-self: flex-end;
  }
}

@media (max-width: 699px) {
  .CollectionFilters .Row {
    margin-bottom: 0;
  }
}
