.DryRunnerCardLog {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: var(--black);
  border: 1px solid var(--dark-beige);
  border-radius: 4px;
}

.DryRunnerCardLog > .Row {
  width: 100%;
  margin: 0;
}

.DryRunnerCardLog__image-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.DryRunnerCardLog__image {
  display: block;
  height: auto;
  max-height: 80%;
  max-width: 100%;
  margin: auto;
}
