.DryRunnerCardLog__title {
  color: var(--beige);
  font-size: 80%;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.DryRunnerCardLog__container {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: var(--black);
  border: 1px solid var(--dark-beige);
  border-radius: 4px;
}

.DryRunnerCardLog__container > .Row {
  width: 100%;
  margin: 0;
}

.DryRunnerCardLog__image-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.DryRunnerCardLog__image {
  display: block;
  height: auto;
  max-height: 80%;
  max-width: 100%;
  margin: auto;
}
