.DryRunnerCardLog {
  width: 350px;
  height: 55px;
  padding: 3px;
  display: flex;
  background-color: var(--black);
  border: 1px solid var(--beige);
  border-radius: 6px;
}

.DryRunnerCardLog > .Row {
  width: 100%;
  margin: 0;
}

.DryRunnerCardLog__image-wrapper {
  height: 100%;
}

.DryRunnerCardLog__image {
  display: block;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}