.DryRunnerCardLog {
  width: 350px;
  height: 55px;
  padding: 3px;
  display: flex;
  background-color: var(--black);
  border: 1px solid var(--beige);
  border-radius: 6px;
}

.DryRunnerCardLog__image:not(:last-child) {
  margin-right: 5px;
}

.DryRunnerCardLog__image {
  display: block;
  height: 100%;
}
