.DeckBuilderCollectionFilters {
  margin-bottom: 1em;
}

.DeckBuilderCollectionFilters .Row {
  margin-bottom: 0.5em;
}

.DeckBuilderCollectionFilters__reset {
  min-width: 150px;
  margin-top: 1.5em;
}

@media (min-width: 700px) {
  .DeckBuilderCollectionFilters > .Row:last-child .Column:last-child {
    align-self: flex-end;
  }
}

@media (max-width: 699px) {
  .DeckBuilderCollectionFilters .Row {
    margin-bottom: 0;
  }
}
