/**
 * 1. Initialise counters for rows and columns markers
 */
.BattleSimGrid {
  counter-reset: row column; /* 1 */
}

/**
 * 1. Position context for cell content
 */
.BattleSimGrid__cell {
  flex: 1 0 auto;
  position: relative; /* 1 */
}

/**
 * 1. Ensure proper cell ratio based on background
 */
.BattleSimGrid__cell::before {
  content: ''; /* 1 */
  display: block; /* 1 */
  padding-top: 85%; /* 1 */
}

/**
 * 1. Full size container for actual content
 */
.BattleSimGrid__cell-content {
  position: absolute; /* 1 */
  top: 0; /* 1 */
  left: 0; /* 1 */
  right: 0; /* 1 */
  bottom: 0; /* 1 */
}

/**
 * 1. Every cell of the first row should increment the column counter
 */
.BattleSimRow:first-child .BattleSimGrid__cell {
  counter-increment: column; /* 1 */
}

/**
 * Shared styles for columns and rows markers
 */
.BattleSimGrid__cell:first-child::after,
.BattleSimRow:first-child .BattleSimGrid__cell-content::after {
  position: absolute;
  font-size: 150%;
  opacity: 0.3;
  animation: appear-markers 0.4s both;
}

@media (max-width: 699px) {
  .BattleSimGrid__cell:first-child::after,
  .BattleSimRow:first-child .BattleSimGrid__cell-content::after {
    font-size: 5vw;
  }
}

/**
 * 1. Vertical centering of the marker in the row
 * 2. Spacing of the marker from the row’s left edge
 */
.BattleSimGrid__cell:first-child::after {
  color: var(--black);
  top: 50%; /* 1 */
  transform: translateY(-50%); /* 1 */
  right: 100%; /* 2 */
  margin-right: 1.5ch; /* 2 */
  text-align: right;
}
/**
 * 1. Horizontal centering of the marker in the column
 * 2. Spacing of the marker from the column’s top edge
 */
.BattleSimRow:first-child .BattleSimGrid__cell-content::after {
  left: 50%; /* 1 */
  transform: translateX(-50%); /* 1 */
  text-align: center; /* 1 */
  bottom: 110%; /* 2 */
}

/**
 * 1. Readjust the horizontal centering of the column marker in the cell
 */
.BattleSimRow:first-child
  .BattleSimGrid__cell:nth-child(3)
  .BattleSimGrid__cell-content::after {
  transform: translateX(-50%) translateX(10%); /* 1 */
}

/**
 * 1. Readjust the horizontal centering of the column marker in the cell
 */
.BattleSimRow:first-child
  .BattleSimGrid__cell:nth-child(4)
  .BattleSimGrid__cell-content::after {
  transform: translateX(-50%) translateX(20%); /* 1 */
}

/**
 * 1. Only display the column markers when enabled
 */
.BattleSimGrid--markers
  .BattleSimRow:first-child
  .BattleSimGrid__cell-content::after {
  content: counter(column); /* 1 */
}

/**
 * 1. Only display the row markers when enabled
 */
.BattleSimGrid--markers .BattleSimGrid__cell:first-child::after {
  content: counter(row, upper-alpha); /* 1 */
}

/**
 * 1. Horizontal align the letter “D” with other markers
 */
.BattleSimRow:nth-child(4) .BattleSimGrid__cell:first-child::after {
  transform: translateX(15%) translateY(-50%); /* 1 */
}

@keyframes appear-markers {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}
