.About__container {
  margin: 2.5em auto;
  text-align: center;
}

.About__CTA {
  font-size: 180%;
  text-decoration: none;
  border-bottom: 1px solid;
}

@media (max-width: 700px) {
  .About__CTA {
    font-size: 120%;
  }
}
