.DeckBuilderEditorView__help {
  margin-bottom: 2em;
}

.DeckBuilderEditorView__info p:last-of-type {
  margin-bottom: 2em;
}

.DeckBuilderEditorView__subtitle {
  text-align: center;
  margin-bottom: 2em;
  margin-top: -1.75em;
}
