.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke: currentColor;
  fill: currentColor;
}

/**
 * 1. The ‘sword’ icon is in fact a ‘pipette’ icon that needs to be rotated so
 *    it does look like a sword.
 */
.icon-sword {
  transform: rotate(90deg); /* 1 */
}
