/**
 * 1. Position context for actual grid
 */
.BSBoardMobile {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; /* 1 */
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

html:not(.webp) .BSBoardMobile {
  background-image: url('/assets/images/bg-swarm.png');
}

.webp .BSBoardMobile {
  background-image: url('/assets/images/bg-swarm.webp');
}

@media (min-width: 700px) and (max-width: 799px) {
  .BSBoardMobile {
    width: 325px;
  }
}

@media (min-width: 800px) and (max-width: 899px) {
  .BSBoardMobile {
    width: 350px;
  }
}

@media (min-width: 900px) and (max-width: 999px) {
  .BSBoardMobile {
    width: 375px;
  }
}

@media (min-width: 1000px) {
  .BSBoardMobile {
    width: 400px;
  }
}

/**
 * 1. Ensure proper ratio based on background size
 */
.BSBoardMobile::before {
  content: ''; /* 1 */
  display: block; /* 1 */
  padding-top: 200%; /* 1 */
}

.BSBoardMobile__health {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.BSBoardMobile__health--RED {
  top: 8%;
  transform: translateX(-50%) translateX(15%);
}

.BSBoardMobile__health--BLUE {
  top: 70%;
  transform: translate(-50%) translateX(-30%);
}

.BSBoardMobile__player {
  width: 65%;
  position: absolute;
  left: -1.75em;
}

/**
 * 1. Absolute positioning based on background
 */
.BSBoardMobile__player--RED {
  top: 8%; /* 1 */
}

/**
 * 1. Absolute positioning based on background
 */
.BSBoardMobile__player--BLUE {
  top: 70%; /* 1 */
}

/**
 * 1. Horizontal centering
 * 2. Hard-coded values based on background
 */
.BSBoardMobile__grid {
  position: absolute; /* 1 */
  left: 50%; /* 1 */
  transform: translateX(-50%); /* 1 */
  width: 73.75%; /* 2 */
  top: 24%; /* 2 */
}

.BSBoardMobile__cards {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}
