.QuestionMark {
  margin: 0 0.25em;
  color: var(--beige);
  transition: 250ms;
  cursor: help;
}

.QuestionMark:hover {
  color: inherit;
}

.QuestionMark:hover::before,
.QuestionMark:hover::after {
  opacity: 1;
}

.QuestionMark::before,
.QuestionMark::after {
  opacity: 0.5;
  font-family: monospace;
  transform: translateY(-2px);
  display: inline-block;
  position: relative;
  transition: inherit;
}

.QuestionMark::before {
  content: '(';
}
.QuestionMark::after {
  content: ')';
}
