.FeaturedDeck {
  margin-bottom: 2em;
  position: relative;
}

.FeaturedDeck__name {
  font-size: 120%;
  display: block;
}

/**
 * 1. Pull rarity bar within the bottom margin of the deck itself.
 */
.FeaturedDeck__rarity-bar {
  margin-bottom: 0.5em;
  margin-top: -0.5em; /* 1 */
}

.FeaturedDeck__actions {
  font-size: 80%;
  display: flex;
  position: absolute;
  bottom: 1em;
  right: 0;
  opacity: 0.5;
  transition: 250ms;
}

.FeaturedDeck__actions:hover {
  opacity: 1;
}

.FeaturedDeck__actions > * {
  margin: 0 0.5em 0 0.75em;
}
