.MemberListEntry {
  padding: 0.5em 0;
  font-size: 120%;
  display: flex;
}

.MemberListEntry--you {
  border: 1px solid var(--dark-beige);
  position: relative;
}

.MemberListEntry--you::before,
.MemberListEntry--you::after {
  content: '';
  position: absolute;
  top: 0.25em;
  bottom: 0.25em;
  border: inherit;
  width: 0.25em;
}

.MemberListEntry--you::before {
  right: 100%;
  border-right-color: var(--black);
}

.MemberListEntry--you::after {
  left: 100%;
  border-left-color: var(--black);
}

.MemberListEntry__name {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.MemberListEntry__name:hover {
  border-bottom-color: currentColor;
}

.MemberListEntry__toc {
  padding-left: 1.4em;
  margin: 0;
  font-size: 80%;
}

.MemberListEntry__content {
  margin-left: 1em;
}

.MemberListEntry__icon {
  position: relative;
  top: 0.1em;
  font-size: 220%;
  opacity: 0.5;
  color: var(--beige);
}

.MemberListEntry__summary {
  text-transform: uppercase;
  color: var(--beige);
  font-size: 75%;
}
