.Story {
  margin-top: 3em;
}

.Story__title {
  margin-bottom: 3em;
}

/**
 * 1. Font size applied to the title child so the value of `ch` and `em` is not
 *    modified on the title itself.
 */
.Story__title > * {
  font-size: 125%; /* 1 */
}

.Story__paragraph {
  font-size: 115%;
  max-width: 65ch;
  hyphens: auto;
}

.Story__paragraph:first-of-type::first-letter {
  color: var(--beige);
  float: left;
  font-family: Georgia, serif;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.Story__paragraph strong {
  color: var(--beige);
}

.Story__aside {
  text-align: center;
}

.Story__author {
  color: var(--beige);
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

.Story__content {
  margin-bottom: 3em;
}
