.DBDryRunView__hand .Column {
  flex-grow: 0;
}

.DBDryRunView__hand {
  padding: 0 1.5em;
}

.DBDryRunView__card-button {
  background-color: transparent;
  padding: 0;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

.DBDryRunView__buttons {
  margin-top: 2em;
}

.DBDryRunView__card-wrapper {
  transition: 250ms;
  position: relative;
}

.DBDryRunView__card-wrapper--active {
  transform: scale(1.1);
  z-index: 2;
}

.DBDryRunView__card-wrapper--inactive {
  opacity: 0.7;
  filter: grayscale(0.3);
}

.DBDryRunView__board {
  margin-bottom: 3em;
}

@media (max-width: 699px) {
  .DBDryRunView__board {
    flex-wrap: wrap;
  }

  .DBDryRunView__board > :nth-child(1) {
    flex: 1 1 100%;
  }

  .DBDryRunView__board > :nth-child(2),
  .DBDryRunView__board > :nth-child(3) {
    width: 50%;
  }
}

.DBDryRunView__mana {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 125%;
  margin-bottom: 1em;
}

.DBDryRunView__mana .Mana {
  margin-left: 1em;
}

.DBDryRunView__info {
  margin-top: 3em;
}

.DBDryRunView__info p {
  margin-top: 0;
  margin-bottom: 1em;
}

.DBDryRunView__reset-checkbox {
  text-align: center;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}
