.ReleaseNotesAugust2021__cards {
  display: flex;
}

.ReleaseNotesAugust2021__card {
  padding: 0.5em;
  display: inline-block;
  max-width: 100%;
  height: auto;
  flex: 0 1 auto;
  width: calc(100% / 9);
}

@media (max-width: 700px) {
  .ReleaseNotesAugust2021__cards {
    flex-wrap: wrap;
  }

  .ReleaseNotesAugust2021__card {
    width: calc(100% / 3);
  }
}
