.GuideCommonDiamond__table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.GuideCommonDiamond__table th:not(:empty),
.GuideCommonDiamond__table td:not(:empty) {
  padding: 0.5em 0.25em;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}
