.TournamentHallOfFame__table {
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: rgb(159, 212, 231);
  margin-bottom: 4em;
  width: 100%;
}

/**
 * 1. Border allowing for seeing the zebra rows a few pixels all around the
 *    table; effectively an inner border.
 */
.TournamentHallOfFame__table::before {
  content: ''; /* 1 */
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  border: 1px solid var(--dark-beige);
  pointer-events: none;
}

.TournamentHallOfFame__table thead {
  background-color: var(--dark-blue);
}

.TournamentHallOfFame__table th,
.TournamentHallOfFame__table td {
  padding: 0.75em 0.5em;
  position: relative;
}

.TournamentHallOfFame__table th {
  color: var(--beige);
}

/**
 * 1. Zebra table rows for readability.
 */
.TournamentHallOfFame__table tbody tr:nth-child(even) {
  background-color: rgb(30, 72, 88); /* 1 */
}

/**
 * 1. Zebra table rows for readability.
 */
.TournamentHallOfFame__table tbody tr:nth-child(odd) {
  background-color: var(--light-blue); /* 1 */
}

@media (max-width: 699px) {
  .TournamentHallOfFame__table {
    text-align: left;
    display: block;
  }

  /**
   * 1. Hide the fake border around the table since table rows are using borders
   *    on mobile.
   */
  .TournamentHallOfFame__table::before {
    content: none; /* 1 */
  }

  /**
   * 1. Reset the table layout to a block layout.
   */
  .TournamentHallOfFame__table thead,
  .TournamentHallOfFame__table tbody,
  .TournamentHallOfFame__table th,
  .TournamentHallOfFame__table td,
  .TournamentHallOfFame__table tr {
    display: block; /* 1 */
  }

  /**
   * 1. Hide the table headers.
   */
  .TournamentHallOfFame__table thead {
    position: absolute; /* 1 */
    top: -9999px; /* 1 */
    left: -9999px; /* 1 */
  }

  .TournamentHallOfFame__table tr {
    border: 1px solid var(--dark-beige);
  }

  /**
   * 1. Avoid double borders on the top of the table.
   */
  .TournamentHallOfFame__table tr:not(:first-child) {
    border-top: 0; /* 1 */
  }

  .TournamentHallOfFame__table tr {
    padding: 0.5em 0;
  }

  .TournamentHallOfFame__table td {
    padding: 0.25em 1em;
  }

  .TournamentHallOfFame__table td::before {
    color: var(--beige);
    width: 50%;
    display: inline-block;
  }

  .TournamentHallOfFame__table td:first-child::before {
    content: 'Date';
  }

  .TournamentHallOfFame__table td:nth-of-type(2)::before {
    content: 'Name';
  }

  .TournamentHallOfFame__table td:nth-of-type(3)::before {
    content: 'Host(s)';
  }

  .TournamentHallOfFame__table td:nth-of-type(4)::before {
    content: 'Winner(s)';
  }
}
