.Tournament {
  margin-bottom: 1em;
}

.Tournament__name {
  margin-top: 0 !important;
  margin-bottom: 0;
}

.Tournament__meta {
  color: var(--beige);
  text-transform: uppercase;
  font-size: 80%;
}
