/**
 * 1. Inline the <input> and <select> elements within the table row by removing
 *    their border and inner spacing.
 * 2. Chrome hack to center the text of a <select> element.
 */
.BrawlMatchForm input,
.BrawlMatchForm select {
  border: 0; /* 1 */
  padding: 0; /* 1 */
  text-align: center;
  text-align-last: center; /* 2 */
}

.BrawlMatchForm__button {
  text-decoration: none;
}

/**
 * 1. Allow for the checkbox to be centered within the cell.
 * 2. Make sure the checkbox doesn’t increase the height of the row.
 */
.BrawlMatchForm .Checkbox {
  display: inline-block; /* 1 */
  margin: 0; /* 2 */
}

@media (max-width: 699px) {
  .BrawlMatchForm input,
  .BrawlMatchForm select {
    width: 50%;
    text-align: left;
    text-align-last: left;
  }
}
