.LearnMoreIcon {
  margin: 0 0.25em;
  text-decoration: none;
  transition: 250ms;
}

.LearnMoreIcon:hover::before,
.LearnMoreIcon:hover::after {
  opacity: 1;
}

.LearnMoreIcon__mark {
  color: var(--beige);
}

.LearnMoreIcon:hover .LearnMoreIcon__mark {
  color: inherit;
}

.LearnMoreIcon::before,
.LearnMoreIcon::after {
  opacity: 0.5;
  font-family: monospace;
  transform: translateY(-2px);
  display: inline-block;
  position: relative;
  transition: inherit;
}

.LearnMoreIcon::before {
  content: '(';
}
.LearnMoreIcon::after {
  content: ')';
}
