.MemberSection {
  margin: 2.5em 0;
}

.MemberSection__title {
  font-size: 115%;
}

@media (min-width: 700px) {
  .MemberSection {
    margin: 1.5em 0;
  }

  .MemberSection__title {
    font-size: 125%;
  }
}
