/**
 * 1. The home page is supposed to be catchy, so increase its font size so text
 *    is more prominent.
 */
.Home {
  font-size: 130%; /* 1 */
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.Home__news-title {
  margin-bottom: 0;
}

/**
 * 1. Partially pull the news box on top of the image.
 */
.Home__news-box {
  position: relative;
  background: url('/assets/images/background.png') repeat var(--black);
  border: 1px solid var(--beige);
  padding: 1em;
  box-shadow: 0 0 2em 1em rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
  margin-top: -7em; /* 1 */
}

/**
 * 1. Horizontal pseudo-element at the top and the bottom of the box to make
 *    give it these cutted-out corners like in the game.
 */
.Home__news-box::after,
.Home__news-box::before {
  content: ''; /* 1 */
  position: absolute;
  left: 0.5em;
  height: 0.5em;
  right: 0.5em;
  border: inherit;
  background-color: inherit;
}

.Home__news-box::before {
  bottom: 100%;
  border-bottom: 0;
}

.Home__news-box::after {
  top: 100%;
  border-top: 0;
}

.Home__section {
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 1em;
  padding-right: 1em;
}

.Home__section {
  overflow: hidden;
  background-image: linear-gradient(60deg, var(--color), transparent);
}

.Home__section-inner {
  padding: 1em;
  text-align: center;
}

.Home__section h2 {
  font-size: 180%;
  margin-top: 0;
  margin-bottom: 0.5em;
}

@media (min-width: 700px) {
  /**
   * 1. Arbitrary position for the news box.
   */
  .Home__news {
    position: absolute;
    left: 0;
    width: 40%;
    top: 11em; /* 1 */
    z-index: 2;
  }

  .Home__section::after {
    content: '';
    position: absolute;
    padding-top: 50%;
    width: 50%;
    transform: translate(-20%, -50%) rotate(45deg);
    left: 0;
    top: 50%;
    mask-image: linear-gradient(35deg, var(--black), transparent);
    background: repeating-linear-gradient(
      80deg,
      var(--color),
      var(--color) 4px,
      transparent 4px,
      transparent 8px
    );
  }

  .Home__news-image {
    width: 75%;
    position: absolute;
    bottom: 100%;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 35%);
  }

  .Home__news-box {
    margin-top: 0;
  }

  .Home__section {
    width: 100vw;
    position: relative;
    margin: 1em -50vw;
    left: 50%;
    right: 50%;
  }

  .Home__section-inner {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    text-align: right;
    padding: 2em;
  }

  .Home__section-image {
    display: block;
    margin-right: auto;
    max-height: 15em;
    z-index: 2;
    position: relative;
  }

  .Home__section h2 {
    margin-top: 1em;
  }

  /**
   * 1. Visually align the right button with the edge of the text.
   */
  .Home__buttons {
    margin-top: 1.5em;
    margin-right: -0.5em; /* 1 */
    margin-bottom: 1em;
  }

  .Home__buttons > * {
    width: auto;
    margin: 0 0.5em;
  }
}
