.DBCardLevelField {
  display: flex;
  align-items: center;
}

.DBCardLevelField__label {
  margin-right: 1em;
  flex: 1 0 auto;
}

@media (max-width: 699px) {
  .DBCardLevelField {
    order: 1;
    margin-top: 2em;
    width: 100%;
  }
}

.DBCardLevelField__hint {
  color: white;
  font-size: 80%;
  display: block;
}

@media (max-width: 700px) {
  .DBCardLevelField__hint {
    display: none;
  }
}
