/**
 * 1. Make sure the header sits over the content.
 */
.Header {
  padding: 1em;
  z-index: 10; /* 1 */
}

.Header__nav {
  margin: 0 1em;
  border-bottom: 1px solid var(--dark-beige);
}

.Header__nav + .Header__nav {
  border-bottom: 0;
}

.Header__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.Header__list--sub {
  overflow: hidden;
}

/**
 * 1. Position context for the active state pseudo-element.
 */
.Header__item {
  text-align: center;
  position: relative; /* 1 */
}

.Header__item--right {
  margin-left: auto;
}

.Header__item--new::after {
  content: '';
  position: absolute;
  top: 0.75em;
  right: 0.5em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: rgba(203, 43, 67, 1);
  animation: new-pulse 2s infinite ease-out;
}

.Header__item--select {
  width: 250px;
  padding: 0.5em 1em;
  overflow: visible;
  text-align: left;
}

.Header__action {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  outline: 0;
  padding: 1em;
  position: relative;
  text-decoration: none;
  transition: color 250ms;
}

.Header__action:focus {
  color: var(--light-swarm);
}

.Header__action--disabled {
  opacity: 0.5;
  cursor: help;
}

.Header__action--active {
  color: var(--beige);
}

.Header__icon {
  font-size: 80%;
  margin-right: 0.25em;
  vertical-align: baseline;
  position: relative;
  top: 1px;
}

/**
 * 1. Pseudo-element used for the active state and for when the dropdown is
 *    open (with 2 different classes respectively).
 */
.Header__action::after {
  content: ''; /* 1 */
  width: 1em;
  height: 1em;
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  top: 100%;
  left: 50%;
  border: 1px solid var(--dark-beige);
  border-bottom: 0;
  border-right: 0;
  background-color: var(--black);
  opacity: 0;
  transition: opacity 250ms 150ms;
}

/**
 * 1. Make the triangle dark beige for the active state.
 */
.Header__action--active:not(.Header__action--open)::after {
  background-image: linear-gradient(
    135deg,
    var(--dark-beige) 50%,
    var(--black) 50%
  ); /* 1 */
}

/**
 * 1. Make sure the open action sits on top of its mega menu so the pseudo-
 *    element looks like it belongs to the menu itself.
 */
.Header__action--open {
  z-index: 20; /* 1 */
}

.Header__action--open::after {
  opacity: 1;
}

.Header__list--sub .Header__action--active::after {
  transform: translate(-50%, 50%) rotate(45deg);
  bottom: 100%;
  top: auto;
  border: 1px solid var(--dark-beige);
  border-top: 0;
  border-left: 0;
}

@media (max-width: 699px) {
  .Header__nav {
    border-bottom: 0;
    position: relative;
  }

  .Header__nav:first-of-type::after {
    content: '';
    position: absolute;
    bottom: -0.5em;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background: linear-gradient(
      to right,
      transparent,
      var(--dark-beige),
      transparent
    );
  }

  .Header__list {
    margin: 1em 0;
    flex-wrap: wrap;
  }

  /**
   * 1. Display navigation items in 2 columns.
   */
  .Header__item {
    flex: 0 1 50%; /* 1 */
  }

  .Header__item--select {
    width: 100%;
    flex-grow: 1;
  }

  .Header__item--right {
    margin-left: 0;
  }

  .Header__action {
    padding: 0 0 1em;
  }

  .Header__list--sub .Header__action {
    padding: 0.5em 0;
  }
}

@media (min-width: 700px) {
  .Header__list {
    flex-wrap: nowrap;
  }

  .Header__item {
    white-space: nowrap;
  }

  .Header__action--active::after {
    opacity: 1;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .Header__icon {
    display: none;
  }
}

@keyframes new-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(203, 43, 67, 0.6);
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 0.5em transparent;
  }

  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}
