.Header {
  padding: 1em;
  z-index: 2;
}

.Header__nav {
  margin: 0 1em;
  border-bottom: 1px solid var(--beige);
}

.Header__nav + .Header__nav {
  border-bottom: 0;
}

.Header__title {
  text-decoration: none;
}

.Header__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.Header__item {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.Header__link {
  transition: color 250ms;
  outline: 0;
}

/**
 * Prevent hover state on non-link items.
 */
a.Header__link:hover {
  color: var(--beige);
}

a.Header__link:focus {
  color: var(--light-swarm);
}

.Header__link--disabled {
  opacity: 0.5;
  cursor: help;
}

.Header__item--right {
  margin-left: auto;
}

.Header__item--select {
  width: 250px;
  padding: 0.5em 1em;
  overflow: visible;
  text-align: left;
}

.Header__link {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
}

.Header__link--active {
  color: var(--beige);
}

.Header__toggle {
  color: var(--white);
  position: absolute;
  right: 1em;
  top: 0.5em;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0.5em;
}

.Header__icon {
  font-size: 80%;
  margin-right: 0.25em;
  vertical-align: baseline;
  position: relative;
  top: 1px;
}

@media (max-width: 699px) {
  .Header {
    text-align: center;
  }

  .Header__nav {
    border-bottom: 0;
    position: relative;
  }

  .Header__nav:first-of-type::after {
    content: '';
    position: absolute;
    bottom: -0.5em;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background: linear-gradient(
      to right,
      transparent,
      var(--beige),
      transparent
    );
  }

  .Header__list {
    margin: 1em 0;
    flex-wrap: wrap;
  }

  /**
   * 1. Display navigation items in 2 columns.
   */
  .Header__item {
    flex: 0 1 50%; /* 1 */
  }

  .Header__item--right {
    margin-left: 0;
  }

  .Header__item--select {
    width: 100%;
    flex-grow: 1;
  }

  .Header__link {
    padding: 0.5em 0em;
  }
}

@media (min-width: 700px) {
  .Header__list {
    flex-wrap: nowrap;
  }

  .Header__item {
    white-space: nowrap;
  }

  /**
   * 1. Half-diamond display below/under the active item.
   */
  .Header__link--active::before {
    content: ''; /* 1 */
    width: 1em;
    height: 1em;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 100%;
    left: 50%;
    border: 1px solid var(--beige);
    z-index: 2;
  }

  /**
   * 1. The active pseudo-element in the top-level navigation should be centered
   *    below the word without taking the icon width + spacing into account
   *    (which only exist in the top-level navigation). The icon has a width of
   *    1em and a right margin of 0.25em, but a font-size of 80% — all of which
   *    needs to be divided by 2 to have the proper offset.
   */
  .Header__list:not(.Header__list--sub) .Header__link--active::before {
    left: calc(50% + 1.25em * 0.8 / 2); /* 1 */
  }

  .Header__list--sub .Header__link--active::before {
    transform: translate(-50%, 50%) rotate(45deg);
    bottom: 100%;
    top: auto;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .Header__icon {
    display: none;
  }
}
