.CBLevelForm__row-label {
  color: var(--beige);
  text-transform: uppercase;
}

.CBLevelForm__label-col {
  justify-content: center;
}

.CBLevelForm__label-col + * > .Row {
  margin-bottom: 0;
}

.CBCoreForm__buttons {
  margin-top: 2em;
}
