@media (max-width: 699px) {
  .Timeline {
    padding: 0;
    list-style: none;
  }
  .Timeline__item {
    margin-bottom: 0.5em;
  }
  .Timeline__time {
    color: var(--beige);
  }
  .Timeline__time::after {
    content: '·';
    margin: 0 0.5ch;
  }
}

@media (min-width: 700px) {
  .Timeline {
    list-style: none;
    width: 100%;
    padding: 2em 0;
    position: relative;
  }

  .Timeline::before {
    content: '';
    width: 2px;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      transparent,
      var(--beige) 15%,
      var(--beige) 85%,
      transparent
    );
    position: absolute;
    left: calc(50% - 1px);
    top: 0;
    bottom: 0;
  }

  .Timeline__time {
    display: inline-block;
    color: var(--beige);
    border-bottom: 1px solid;
    margin-bottom: 0.5em;
  }

  .Timeline__label {
    display: block;
    font-size: 80%;
  }

  .Timeline__item {
    position: relative;
  }

  .Timeline__item::before {
    content: '';
    position: absolute;
    width: 2em;
    height: 2px;
    background-color: var(--beige);
    top: 0.6em;
  }

  .Timeline__item::after {
    content: '';
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    transform: rotate(45deg);
    border: 2px solid var(--beige);
    top: 0.3em;
    padding: 2px;
    box-sizing: border-box;
    background-clip: content-box;
  }

  .Timeline__item--past::after {
    background-color: var(--beige);
  }
  .Timeline__item--current::after {
    background-color: var(--light-shadowfen);
  }

  .Timeline__item:nth-of-type(even) {
    text-align: right;
    padding-right: calc(50% + 3.5em);
  }

  .Timeline__item:nth-of-type(even)::before {
    right: 50%;
  }
  .Timeline__item:nth-of-type(even)::after {
    right: calc(50% + 2em);
  }

  .Timeline__item:nth-of-type(odd) {
    text-align: left;
    padding-left: calc(50% + 3.5em);
  }

  .Timeline__item:nth-of-type(odd)::before {
    left: 50%;
  }
  .Timeline__item:nth-of-type(odd)::after {
    left: calc(50% + 2em);
  }
}
