:root {
  --black: #101f26;
  --text-color: var(--brand-secondary--inverted);
  --brand-primary: #36786d;
  --brand-primary--inverted: #f5f2e5;
  --brand-secondary: #101f26;
  --brand-secondary--inverted: #e2d7af;
  --main-navigation-color: var(--brand-secondary);
  --main-navigation-color--inverted: var(--brand-secondary--inverted);
}

fieldset legend {
  position: relative;
}

fieldset legend button::after {
  content: '';
  position: absolute;
  top: -0.2em;
  right: -0.2em;
  bottom: -0.2em;
  left: -0.2em;
  background-color: rgb(25 75 125 / 0.15);
  border-radius: 0.2em;
  opacity: 0;
  transition: opacity 200ms;
}

/**
 * Toggles for collapsible sections lack a bit of interactivity. This should
 * make it more clear that they are interactive.
 */
fieldset legend button:focus::after,
fieldset legend button:hover::after {
  opacity: 1;
}

/**
 * Buttons have the default cursor for some reasons, and this should be fixed.
 */
button:not(:disabled) {
  cursor: pointer !important;
}
