.GuideRecklessRush__caption {
  font-size: 80%;
  color: var(--beige);
  margin-top: 1em;
}

.GuideRecklessRush__placement [data-testid='cell-A1'],
.GuideRecklessRush__placement [data-testid='cell-A4'] {
  background-color: rgba(231, 76, 60, 0.6);
  padding: 3px;
  background-clip: content-box;
  border-radius: 8px;
}

.GuideRecklessRush__placement [data-testid='cell-A2'],
.GuideRecklessRush__placement [data-testid='cell-B2'] {
  background-color: rgba(46, 204, 113, 0.6);
  padding: 3px;
  background-clip: content-box;
  border-radius: 8px;
}

.GuideRecklessRush__placement [data-testid='cell-A3'],
.GuideRecklessRush__placement [data-testid='cell-B3'] {
  background: linear-gradient(
    to top left,
    rgba(52, 152, 219, 0.6) 50%,
    rgba(46, 204, 113, 0.6) 50%
  );
  padding: 3px;
  background-clip: content-box;
  border-radius: 8px;
}

.GuideRecklessRush__legend::before {
  content: '';
  width: 0.8em;
  height: 0.8em;
  display: inline-block;
  transform: rotate(45deg);
  margin: 0 0.5em;
  border: 1px solid var(--beige);
  box-sizing: border-box;
}

.GuideRecklessRush__legend:nth-of-type(1)::before {
  background-color: rgba(231, 76, 60, 1);
}

.GuideRecklessRush__legend:nth-of-type(2)::before {
  background-color: rgba(52, 152, 219, 1);
}

.GuideRecklessRush__legend:nth-of-type(3)::before {
  background-color: rgba(46, 204, 113, 1);
}
