.TogglableContent__target {
  animation-fill-mode: forwards;
  animation-duration: 250ms;
}

.TogglableContent__target[aria-hidden='true'] {
  overflow: hidden;
  animation-name: collapse;
}

.TogglableContent__target:not([aria-hidden='true']) {
  animation-name: expand;
}

@keyframes collapse {
  from {
    opacity: 1;
    max-height: 100vh;
  }

  to {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
  }
}

@keyframes expand {
  from {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }

  99% {
    max-height: 100vh;
  }

  to {
    max-height: none;
    opacity: 1;
    overflow: visible;
  }
}
