/**
 * 1. Horizontal centering
 */
.BattleSimBaseHealth {
  text-align: center; /* 1 */
}

/**
 * 1. Make sure width doesn’t jump when changing from 1 to 2 digits
 */
.BattleSimBaseHealth__value {
  display: inline-block; /* 1 */
  min-width: 2ch; /* 1 */
  color: var(--black);
  font-size: 140%;
  opacity: 0.9;
}

@media (max-width: 699px) {
  /**
   * 1. On mobile where it takes the full available width, scale the font size
   *    based on the viewport width
   */
  .BattleSimBaseHealth__value {
    font-size: 5.5vw; /* 1 */
  }
}
