.DryRunnerHeader {
  margin-bottom: 3em;
}

.DryRunnerHeader__mana {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 125%;
}

.DryRunnerHeader__mana .Mana {
  margin-left: 1em;
}
