/**
 * 1. Simulate a reflection with a sharp split gradient.
 */
.Quest {
  border: 1px solid var(--beige);
  max-width: 400px;
  position: relative;
  width: 100%;
  background-image: linear-gradient(
    45deg,
    var(--dark-blue) 50%,
    var(--light-blue) 50%
  ); /* 1 */
  margin-bottom: 2em;
  font-size: var(--font-size);
}

/**
 * 1. Force a specific ratio for the quest box, regardless of its width.
 */
.Quest::before {
  content: '';
  padding-top: calc(112 / 264 * 100%); /* 1 */
  display: block;
}

/**
 * 1. Simulate a double border by having a tiny gap between the container and
 *    the element, and the same border on both.
 */
.Quest__inner {
  position: absolute;
  top: 0.1em; /* 1 */
  left: 0.1em; /* 1 */
  right: 0.1em; /* 1 */
  bottom: 0.1em; /* 1 */
  border: inherit; /* 1 */
  padding: 1em;
  display: flex;
}

.Quest__difficulty {
  position: absolute;
  display: flex;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%) translateY(-2px);
}

.Quest__difficulty--1 .Quest__difficulty-diamond {
  background-color: rgb(37, 106, 156);
}

.Quest__difficulty--2 .Quest__difficulty-diamond {
  background-color: rgb(133, 41, 154);
}

.Quest__difficulty--3 .Quest__difficulty-diamond {
  background-color: rgb(231, 147, 18);
}

.Quest__difficulty-diamond {
  border: 1px solid var(--beige);
  width: 1em;
  height: 1em;
  transform: rotate(45deg);
  margin: 0 0.3em;
}

.Quest__content {
  flex: 0 0 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Quest__name {
  text-transform: uppercase;
  font-size: 130%;
}

.Quest__description {
  color: var(--beige);
  margin: 0;
  word-break: break-word;
  font-size: 90%;
}

.Quest__reward {
  flex: 1 0 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Quest__amount {
  display: inline-block;
  text-align: center;
  line-height: 1.1;
  text-transform: uppercase;
}

.Quest__currency-image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

.Quest__number {
  font-size: 150%;
}

.Quest__currency {
  font-size: 70%;
}
