/**
 * 1. All milestones are aligned on a single row, so this prevents them to be
 *    seen beyond the borders of the container.
 */
.BrawlMilestones {
  margin: 0 auto 3em;
  overflow: hidden; /* 1 */
  position: relative;
}

/**
 * 1. Vertical gradient borders of the sides of the container to hide the
 *    overflow.
 */
.BrawlMilestones::before,
.BrawlMilestones::after {
  content: ''; /* 1 */
  width: 2px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--beige),
    transparent
  );
  position: absolute;
  right: 0;
  z-index: 3;
  top: 0;
}

.BrawlMilestones::before {
  left: 0;
}

/**
 * 1. `20em` is the hard-coded with of a milestone in `.BrawlMilestone`. It
 *    could come from a variable if we wanted to make it a little better. `2em`
 *    is the horizontal padding of `.BrawlMilestones__item`.
 * 2. Originally shift its position by half the width of its parent so the
 *    current milestone is displayed at the center.
 */
.BrawlMilestones__inner {
  width: calc((20em + 2em * 2) * var(--count)); /* 1 */
  transition: transform 1000ms;
  position: relative; /* 2 */
  left: 50%; /* 2 */
}

/**
 * 1. Force all milestones on the same width.
 */
.BrawlMilestones__wrapper {
  display: flex; /* 1 */
}

.BrawlMilestones__item {
  padding: 2em;
}
