.ListBuilderToc__intro {
}

.ListBuilderToc__list {
  margin-top: 0;
  margin-bottom: 3em;
  padding-left: 2.5em;
  list-style: none;
  counter-reset: toc;
}

.ListBuilderToc__list li {
  position: relative;
  counter-increment: toc;
  margin: 0.5em 0;
  text-indent: 0 !important;
}

.ListBuilderToc__list li::before,
.ListBuilderToc__list li::after {
  position: absolute;
  right: calc(100% + 0.75em);
  top: 50%;
  width: 1.4em;
  height: 1.4em;
}

.ListBuilderToc__list li::before {
  content: counter(toc);
  color: var(--color);
  transform: translateY(-50%);
  text-align: center;
}

.ListBuilderToc__list li::after {
  content: '';
  box-sizing: border-box;
  border: 1px solid var(--color);
  transform: translateY(-50%) rotate(45deg);
}
