.ListBuilderTier:not(:last-of-type) {
  margin-bottom: 3em;
}

.ListBuilderTier__body {
  overflow: hidden;
  position: relative;
  margin: 0 -0.25em;
}

.ListBuilderTier__body::after {
  position: absolute;
  padding-top: 50%;
  width: 50%;
  opacity: 0.5;
  transform: translate(-27.5%, -50%) rotate(45deg);
  left: 0;
  top: 50%;
  mask-image: linear-gradient(35deg, var(--black), transparent);
  background: repeating-linear-gradient(
    80deg,
    var(--color),
    var(--color) 4px,
    transparent 4px,
    transparent 8px
  );
  z-index: -1;
}

.ListBuilderTier__body--dragging {
  cursor: move;
}

.ListBuilderTier__empty {
  color: var(--beige);
  margin: 0;
}

@media (min-width: 700px) {
  .ListBuilderTier__body::after {
    content: '';
  }

  .ListBuilderTier__body {
    margin: 1em 0;
    padding: 1em;
  }
}
