.CBContest__headline {
  font-size: 120%;
  margin-bottom: 3em;
}

.CBContest__title {
  margin-bottom: 1em;
}

.CBContest__winner {
  text-align: center;
  display: block;
  margin-top: 0.25em;
  margin-bottom: 1em;
  font-size: 80%;
}

.CBContest__showcase {
  margin-top: 1em;
}

.CBContest__rules {
  padding-left: 0;
  list-style-position: inside;
}

.CBContest__rules > li {
  margin-bottom: 0.5em;
  padding-left: 1.5em;
  text-indent: -1.5em;
}
