.FeedCardChange svg.Icon--arrow-down {
  color: var(--player-red);
}

.FeedCardChange svg.Icon--arrow-up {
  color: var(--affordable);
}

.FeedCardChange svg.Icon--info {
  color: var(--freeze);
}

.FeedCardChange svg.Icon--shuffle {
  color: var(--confused);
}
