.CardContestEntry:not(:last-child) {
  margin-bottom: 5em;
}

.CardContestEntry__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  flex: 1 1 auto;
  z-index: 2;
}

.CardContestEntry__contestName {
  color: var(--beige);
}

.CardContestEntry__name {
  display: block;
  font-size: 120%;
  margin-bottom: 0.25em;
}

.CardContestEntry__winner {
  display: block;
  font-size: 80%;
}

.CardContestEntry__card {
  margin: 0 auto 1em;
  width: 80%;
  transition: 250ms;
}

.CardContestEntry__card:hover {
  transform: scale(1.05);
}

@media (min-width: 700px) {
  .CardContestEntry__content {
    font-size: 200%;
  }

  .CardContestEntry {
    width: 100vw;
    position: relative;
    margin: 1em -50vw;
    left: 50%;
    right: 50%;
    overflow: hidden;
    --color: var(--beige);
  }

  .CardContestEntry::after {
    content: '';
    position: absolute;
    padding-top: 50%;
    width: 50%;
    transform: translate(-20%, -50%) rotate(45deg);
    left: 0;
    top: 50%;
    mask-image: linear-gradient(35deg, var(--black), transparent);
    background: repeating-linear-gradient(
      80deg,
      var(--color),
      var(--color) 4px,
      transparent 4px,
      transparent 8px
    );
  }

  .CardContestEntry:nth-child(odd)::after {
    left: auto;
    right: 0;
    transform: translate(20%, -50%) rotate(45deg);
    mask-image: linear-gradient(215deg, var(--black), transparent);
  }

  .CardContestEntry:nth-child(even) {
    text-align: right;
  }

  .CardContestEntry:nth-child(even) .Row {
    flex-direction: row-reverse;
  }

  .CardContestEntry:nth-child(even) .Column:first-child {
    align-items: flex-end;
  }

  .CardContestEntry:nth-child(odd) .Column:first-child {
    align-items: flex-start;
  }

  .CardContestEntry__inner {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    padding: 2em;
  }

  .CardContestEntry__inner .Column .Row {
    margin: auto;
  }

  .CardContestEntry__card {
    width: 200px;
  }
}
