.Table {
  text-align: center;
  table-layout: fixed;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
}

.Table--zebra {
  color: rgb(159, 212, 231);
  overflow: hidden;
  position: relative;
}

.Table--zebra thead {
  background-color: var(--dark-blue);
}

.Table--zebra th {
  color: var(--beige);
}

.Table--zebra tbody tr:nth-child(even) {
  background-color: rgb(30, 72, 88);
}

.Table--zebra tbody tr:nth-child(odd) {
  background-color: var(--light-blue); /* 1 */
}

/**
 * 1. Border allowing for seeing the zebra rows a few pixels all around the
 *    table; effectively an inner border.
 */
.Table--zebra::before {
  content: ''; /* 1 */
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  border: 1px solid var(--dark-beige);
  pointer-events: none;
}

.Table th,
.Table td {
  padding: 0.75em 0.5em;
  text-align: center;
  position: relative;
}

.Table:not(.Table--zebra) th:not(:empty),
.Table:not(.Table--zebra) td:not(:empty) {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 699px) {
  .Table {
    text-align: left;
    display: block;
  }

  /**
   * 1. Hide the fake border around the table since table rows are using borders
   *    on mobile.
   */
  .Table::before {
    content: none; /* 1 */
  }

  /**
   * 1. Reset the table layout to a block layout.
   */
  .Table thead,
  .Table tbody,
  .Table th,
  .Table td,
  .Table tr {
    display: block; /* 1 */
  }

  /**
   * 1. Hide the table headers.
   */
  .Table thead {
    position: absolute; /* 1 */
    top: -9999px; /* 1 */
    left: -9999px; /* 1 */
  }

  .Table tr {
    border: 1px solid var(--dark-beige);
  }

  /**
   * 1. Avoid double borders on the top of the table.
   */
  .Table tr:not(:first-child) {
    border-top: 0; /* 1 */
  }

  .Table tr {
    padding: 0.5em 0;
  }

  .Table td {
    padding: 0.25em 1em;
    text-align: left;
  }

  .Table:not(.Table--zebra) th:not(:empty),
  .Table:not(.Table--zebra) td:not(:empty) {
    border: none;
  }

  .Table td::before {
    color: var(--beige);
    width: 50%;
    display: inline-block;
    content: attr(data-label);
    margin-right: 1ch;
  }
}
