.ListBuilderTierHeader {
  display: flex;
  margin: 0 -0.5em 1em;
  align-items: flex-end;
}

.ListBuilderTierHeader .ListBuilderTierHeader__name {
  color: var(--beige);
  padding-top: 0.55em;
  padding-bottom: 0.55em;
}

.ListBuilderTierHeader__label {
  display: block;
  margin-bottom: 0.25em;
}

.ListBuilderTierHeader__item {
  flex: 1 1 100%;
  padding: 0 0.5em;
}

.ListBuilderTierHeader__move {
  padding: 0.55em;
  border-radius: 0.3em;
  background-color: transparent;
  border: 1px solid rgba(222, 215, 164, 0.5);
  color: var(--white);
  border-radius: 0.25em;
  height: 100%;
  cursor: pointer;
}

.ListBuilderTierHeader__move[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.ListBuilderTierHeader__move + .ListBuilderTierHeader__move {
  margin-left: 0.5em;
}

@media (min-width: 700px) {
  .ListBuilderTierHeader__item {
    flex-basis: auto;
  }

  .ListBuilderTierHeader__item:last-child {
    flex-grow: 0;
    display: block;
  }
}
