.Guide h2 {
  margin-top: 5em;
}

.Guide h3 {
  color: var(--beige);
  margin-top: 2em;
}

.Guide p:not([class]) > strong,
.Guide li > strong {
  color: var(--beige);
}

.Guide__embed {
  margin: 2em auto 2.5em;
}

.Guide ol ul {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.Guide ol,
.Guide ul {
  padding: 0;
  list-style-position: inside;
  margin-bottom: 2em;
}

.Guide li {
  padding-left: 1.5em;
  text-indent: -1.5em;
  margin-bottom: 0.5em;
}

.Guide ol li {
  padding-left: 1.2em;
  text-indent: -1.2em;
}

.Guide img:not([class]) {
  margin: 2em auto;
  display: block;
  height: auto;
  max-width: 100%;
}
