.DBEditorFilters {
  margin-bottom: 1em;
}

.DBEditorFilters .Row {
  margin-bottom: 0.5em;
}

.DBEditorFilters > .Row:last-child .Column:last-child .Column:last-child {
  align-self: flex-end;
}

.DBEditorFilters__reset {
  min-width: 150px;
  margin-top: 1.5em;
}

@media (max-width: 699px) {
  .DBEditorFilters .Row {
    margin-bottom: 0;
  }
}
