.CardSelect__control {
  background-color: transparent !important;
  border-color: rgba(222, 215, 164, 0.5) !important;
  color: var(--white) !important;
}

.CardSelect__control.CardSelect__control--is-focused {
  outline: auto 2px Highlight !important;
  outline: auto 5px -webkit-focus-ring-color !important;
  box-shadow: none !important;
}

.CardSelect__input,
.CardSelect__single-value {
  color: var(--white) !important;
}
