.FanKitItem {
  position: relative;
}

.FanKitItem:hover .FanKitItem__download {
  opacity: 1;
}

.FanKitItem__image {
  display: block;
  margin: 1em auto;
  max-width: 100%;
  width: var(--width, '1200px');
  max-height: var(--height, 'auto');
  height: auto;
  object-fit: contain;
}

.FanKitItem__download {
  position: absolute;
  bottom: 1em;
  right: 1em;
  opacity: 0.25;
  z-index: 10;
}
