.Stats__checkbox {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 90%;
}

.Stats__chart {
  margin-bottom: 3em;
}

/**
 * 1. The diagram themselves have quite some spacing, so the margin below the
 *    title is unnecessary.
 */
.Stats__title {
  margin-bottom: 0; /* 1 */
}

.Stats__info {
  margin-bottom: 1em;
}
