.Stats__checkbox {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 90%;
}

.Stats__chart {
  margin-bottom: 3em;
}

.Stats__chart > h2 {
  margin-bottom: 0;
}

.Stats__info p:last-of-type {
  margin-bottom: 2em;
}
