.DeckBuilderSuggestionsNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2em;
}

.DeckBuilderSuggestionsNav__button {
  width: 150px;
}

@media (max-width: 699px) {
  .DeckBuilderSuggestionsNav__button {
    width: calc(50% - 1em);
  }
}
