/**
 * 1. Artifact of the fact the info hint is usually placed at the bottom of a
 *    page to act as a call to action for the user to interact.
 */
.Notice {
  text-align: center;
  font-size: 115%;
  margin-top: 3em; /* 1 */
}

.Notice__icon {
  margin-right: 0.5em;
  position: relative;
  top: 1.5px;
}
