.EmptySearch {
  margin: 3em auto;
  text-align: center;
}

.EmptySearch .CTA {
  min-width: 150px;
  margin-top: 1em;
}

.EmptySearch__title {
  font-size: 200%;
}

.EmptySearch__image {
  display: block;
  margin: 0 auto;
}

.EmptySearch__copy {
  max-width: 50ch;
}
