@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Nunito Bold'), local('Nunito-Bold'),
    url('/assets/fonts/nunito-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Nunito Black'), local('Nunito-Black'),
    url('/assets/fonts/nunito-900.woff2') format('woff2');
}

:root {
  scroll-padding-top: 2em;

  /* Game colors */
  --beige: rgb(226, 215, 175);
  --dark-beige: rgb(155, 142, 112);
  --light-blue: rgb(46, 86, 98);
  --dark-blue: rgb(32, 53, 63);
  --green: rgb(54, 120, 109);
  --black: rgb(16, 31, 38);
  --white: rgb(245, 242, 229);
  --yellow: rgb(208, 184, 76);

  /* Faction colors */
  --swarm: rgb(96, 72, 48);
  --ironclad: rgb(130, 70, 72);
  --shadowfen: rgb(48, 101, 93);
  --winter: rgb(64, 84, 119);

  /* Card colors */
  --affordable: rgb(107, 231, 156);
  --upgradable: rgb(231, 209, 70);

  /* Battle sim colors */
  --player-red: rgb(203, 43, 67);
  --player-blue: rgb(25, 93, 156);
  --poison: rgb(112, 4, 112);
  --freeze: rgb(96, 173, 199);
  --confused: orange;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('/assets/images/background.png') repeat var(--black);
  color: var(--white);
}

input,
select,
button {
  font: inherit;
}

html {
  min-height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

[hidden] {
  display: none !important;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  color: currentColor;
}

a:not([class]) {
  transition: 250ms;
}

a:not([class]):active,
a:not([class]):hover {
  color: var(--beige);
}

/**
 * This will hide the focus indicator if the element receives focus via the mouse,
 * but it will still show up on keyboard focus.
 */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

hr {
  width: 50%;
  height: 1px;
  background: linear-gradient(to right, transparent, var(--beige), transparent);
  border: 0;
  margin: 3em auto;
}

input[type='text'],
input[type='search'],
input[type='url'],
input[type='number'],
select {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  padding: 0.65em;
  border-radius: 0.3em;
  background-color: transparent;
  border: 1px solid rgba(222, 215, 164, 0.5);
  color: var(--white);
}

input[type='radio'] {
  width: 1.8em;
  height: 1.8em;
  transform: translateY(4px);
}

input[type='search']:disabled,
input[type='text']:disabled,
input[type='url']:disabled,
input[type='number']:disabled,
select:disabled {
  opacity: 0.5;
}

option {
  color: var(--black);
}

label,
legend {
  text-transform: uppercase;
  font-size: 90%;
  color: var(--beige);
  margin-bottom: 0.25em;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.ButtonAsLink {
  background-color: transparent;
  border: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  display: inline;
  text-decoration: underline;
  cursor: pointer;
  transition: 250ms;
}

.ButtonAsLink:hover {
  color: var(--beige);
}

.Highlight {
  color: var(--beige);
}
