/**
 * 1. Arbitrary dimensions for the progress bar.
 * 2. Prevent background color from leaking behind the padding, which is
 *    necessary to have that gap between the filling and the border.
 * 3. Remove right border to have the pointy edge.
 * 4. Soften the corners to make the transition between the top/bottom border
 *    and the pseudo-element smoother.
 */
.ProgressBar {
  height: 25px; /* 1 */
  width: 15em; /* 1 */
  max-width: 100%;
  padding: 3px;
  background-color: var(--green);
  background-clip: content-box; /* 2 */
  border: 1px solid var(--beige);
  border-right: 0; /* 3 */
  border-radius: 0 1px 1px 0; /* 4 */
  position: relative;
}

/**
 * 1. √(25 * 25 / 2) or accurate width and height to have a diagonal exactly
 *    equal to the height of the progress bar (25px).
 * 2. Soften the corners to make the transition between the top/bottom border
 *    and the pseudo-element smoother.
 */
.ProgressBar::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 50%;
  width: 17.67766952966369px; /* 1 */
  height: 17.67766952966369px; /* 1 */
  border-right: 1px solid var(--beige);
  border-top: 1px solid var(--beige);
  border-radius: 1px 0 1px 0; /* 2 */
  transform: translateX(-0.5px) translate(50%, -50%) rotate(45deg);
}

.ProgressBar__inner {
  height: 100%;
  background-color: var(--yellow);
}

/**
 * 1. √(17 * 17 / 2) or accurate width and height to have a diagonal exactly
 *    equal to the height of the filling (25px - 3px * 2 - 1px * 2).
 */
.ProgressBar__inner::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 50%;
  width: 12.020815280171307px; /* 1 */
  height: 12.020815280171307px; /* 1 */
  transform: translateX(-3px) translate(50%, -50%) rotate(45deg);
  background-color: var(--green);
}

/**
 * 1. Make sure the pointy edge is gold and not green when full.
 */
.ProgressBar__inner[aria-valuenow='100']::after {
  background-color: inherit; /* 1 */
}
