/**
 * 1. Flex context to inline cells in a row
 * 2. Spacing between rows
 * 3. Position context for front-line pseudo-elements
 */
.BattleSimRow {
  display: flex; /* 1 */
  padding-bottom: 3px; /* 2 */
  position: relative; /* 3 */
  counter-increment: row;
  transition: top 250ms ease-out, bottom 250ms ease-out;
}

.BattleSimRow--RED::before,
.BattleSimRow--BLUE::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  transition: inherit;
}

.BattleSimRow--RED::before {
  background-color: var(--red);
  top: 100%;
}

.BattleSimRow--BLUE::before {
  background-color: var(--blue);
  bottom: 100%;
}

.BattleSimRow--RED-0::before,
.BattleSimRow--RED-0::after {
  top: 100%;
}
.BattleSimRow--RED-1::before,
.BattleSimRow--RED-1::after {
  top: 200%;
}
.BattleSimRow--RED-2::before,
.BattleSimRow--RED-2::after {
  top: 300%;
}
.BattleSimRow--RED-3::before,
.BattleSimRow--RED-3::after {
  top: 400%;
}

.BattleSimRow--BLUE-4::before,
.BattleSimRow--BLUE-4::after {
  bottom: 100%;
}
.BattleSimRow--BLUE-3::before,
.BattleSimRow--BLUE-3::after {
  bottom: 200%;
}
.BattleSimRow--BLUE-2::before,
.BattleSimRow--BLUE-2::after {
  bottom: 300%;
}
.BattleSimRow--BLUE-1::before,
.BattleSimRow--BLUE-1::after {
  bottom: 400%;
}

.BattleSimRow--RED::after,
.BattleSimRow--BLUE::after {
  content: '';
  position: absolute;
  width: 0.4em;
  height: 0.4em;
  transform: rotate(45deg);
  opacity: 0.8;
  transition: inherit;
}

.BattleSimRow--BLUE::after {
  left: calc(100% - 1px);
  color: var(--blue);
  border-top: 1px solid;
  border-left: 1px solid;
  transform-origin: bottom left;
}

.BattleSimRow--RED::after {
  right: calc(100% - 1px);
  color: var(--red);
  border-bottom: 1px solid;
  border-right: 1px solid;
  transform-origin: top right;
}
