.CardBuilderHallOfFame__week {
  margin-bottom: 5em;
}

.CardBuilderHallOfFame__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  flex: 1 1 auto;
  z-index: 2;
}

.CardBuilderHallOfFame__contestName {
  color: var(--beige);
}

.CardBuilderHallOfFame__weekIndex {
  display: block;
}

.CardBuilderHallOfFame__name {
  display: block;
  font-size: 120%;
  margin-bottom: 0.25em;
}

.CardBuilderHallOfFame__winner {
  display: block;
  font-size: 80%;
}

.CardBuilderHallOfFame__card {
  margin: 0 auto 1em;
  width: 80%;
  transition: 250ms;
}

.CardBuilderHallOfFame__card:hover {
  transform: scale(1.05);
}

@media (min-width: 700px) {
  .CardBuilderHallOfFame__content {
    font-size: 200%;
  }

  .CardBuilderHallOfFame__week {
    width: 100vw;
    position: relative;
    margin: 1em -50vw;
    left: 50%;
    right: 50%;
    overflow: hidden;
    --color: var(--beige);
  }

  .CardBuilderHallOfFame__week::after {
    content: '';
    position: absolute;
    padding-top: 50%;
    width: 50%;
    transform: translate(-20%, -50%) rotate(45deg);
    left: 0;
    top: 50%;
    mask-image: linear-gradient(35deg, var(--black), transparent);
    background: repeating-linear-gradient(
      80deg,
      var(--color),
      var(--color) 4px,
      transparent 4px,
      transparent 8px
    );
  }

  .CardBuilderHallOfFame__week:nth-child(odd)::after {
    left: auto;
    right: 0;
    transform: translate(20%, -50%) rotate(45deg);
    mask-image: linear-gradient(215deg, var(--black), transparent);
  }

  .CardBuilderHallOfFame__week:nth-child(even) {
    text-align: right;
  }

  .CardBuilderHallOfFame__week:nth-child(even) .Row {
    flex-direction: row-reverse;
  }

  .CardBuilderHallOfFame__week:nth-child(even) .Column:first-child {
    align-items: flex-end;
  }

  .CardBuilderHallOfFame__week:nth-child(odd) .Column:first-child {
    align-items: flex-start;
  }

  .CardBuilderHallOfFame__inner {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    padding: 2em;
  }

  .CardBuilderHallOfFame__inner .Column .Row {
    margin: auto;
  }

  .CardBuilderHallOfFame__card {
    width: 250px;
  }
}
