.Banner {
  margin-bottom: 3em;
  text-align: center;
}

.Banner__title {
  font-size: 200%;
  margin-bottom: 0;
  margin-top: 0;
}

.Banner__subline {
  display: block;
  font-style: italic;
  color: var(--beige);
  margin-top: 0;
  margin-bottom: 1em;
}

.Banner__copy {
  max-width: 60ch;
  margin-bottom: 1em;
}

.Banner__CTA {
  width: 100%;
  min-width: 150px;
  margin: auto;
}

@media (min-width: 700px) {
  .Banner {
    width: 100vw;
    position: relative;
    margin: 1em -50vw;
    left: 50%;
    right: 50%;
    overflow: hidden;
    text-align: initial;
    --color: var(--beige);
  }

  .Banner::after {
    content: '';
    position: absolute;
    padding-top: 50%;
    width: 50%;
    transform: translate(-20%, -50%) rotate(45deg);
    left: 0;
    top: 50%;
    mask-image: linear-gradient(35deg, var(--black), transparent);
    background: repeating-linear-gradient(
      80deg,
      var(--color),
      var(--color) 4px,
      transparent 4px,
      transparent 8px
    );
  }

  .Banner:nth-child(odd)::after {
    left: auto;
    right: 0;
    transform: translate(20%, -50%) rotate(45deg);
    mask-image: linear-gradient(215deg, var(--black), transparent);
  }

  .Banner:nth-child(even) {
    text-align: right;
  }

  .Banner:nth-child(even) .Row {
    flex-direction: row-reverse;
  }

  .Banner .Column {
    justify-content: center;
  }

  .Banner:nth-child(even) .Column:first-child {
    align-items: flex-end;
  }

  .Banner:nth-child(odd) .Column:first-child {
    align-items: flex-start;
  }

  .Banner__inner {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    padding: 2em;
  }

  .Banner__image {
    z-index: 2;
    max-width: 100%;
    max-height: 300px;
    height: auto;
    object-fit: contain;
    display: block;
  }

  .Banner__CTA {
    margin: 2em 0 0;
    width: auto;
  }
}
