/**
 * 1. Position context for actual grid
 */
.BattleSimBoardDesktop {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; /* 1 */
  overflow: hidden;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

html:not(.webp):not(.avif) .BattleSimBoardDesktop--swarm {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/swarm.png');
}
.webp:not(.avif) .BattleSimBoardDesktop--swarm {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/swarm.webp');
}
.avif .BattleSimBoardDesktop--swarm {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/swarm.avif');
}

html:not(.webp):not(.avif) .BattleSimBoardDesktop--ironclad {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/ironclad.png');
}
.webp:not(.avif) .BattleSimBoardDesktop--ironclad {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/ironclad.webp');
}
.avif .BattleSimBoardDesktop--ironclad {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/ironclad.avif');
}

html:not(.webp):not(.avif) .BattleSimBoardDesktop--winter {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/winter.png');
}
.webp:not(.avif) .BattleSimBoardDesktop--winter {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/winter.webp');
}
.avif .BattleSimBoardDesktop--winter {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/winter.avif');
}

html:not(.webp):not(.avif) .BattleSimBoardDesktop--shadowfen {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/shadowfen.png');
}
.webp:not(.avif) .BattleSimBoardDesktop--shadowfen {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/shadowfen.webp');
}
.avif .BattleSimBoardDesktop--shadowfen {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/shadowfen.avif');
}

html:not(.webp):not(.avif) .BattleSimBoardDesktop--dragon {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/dragon.png');
}
.webp:not(.avif) .BattleSimBoardDesktop--dragon {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/dragon.webp');
}
.avif .BattleSimBoardDesktop--dragon {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/dragon.avif');
}

html:not(.webp):not(.avif) .BattleSimBoardDesktop--feline {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/feline.png');
}
.webp:not(.avif) .BattleSimBoardDesktop--feline {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/feline.webp');
}
.avif .BattleSimBoardDesktop--feline {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/feline.avif');
}

html:not(.webp):not(.avif) .BattleSimBoardDesktop--neutral {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/neutral.png');
}
.webp:not(.avif) .BattleSimBoardDesktop--neutral {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/neutral.webp');
}
.avif .BattleSimBoardDesktop--neutral {
  background-image: url('https://stormbound-kitty.com/assets/images/backgrounds/lite/neutral.avif');
}

/**
 * 1. Ensure proper ratio based on background size
 */
.BattleSimBoardDesktop::before {
  content: ''; /* 1 */
  display: block; /* 1 */
  padding-top: 62.5%; /* 1 */
}

.BattleSimBoardDesktop__health {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.BattleSimBoardDesktop--swarm .BattleSimBoardDesktop__health--RED {
  top: 5.5%;
  transform: translateX(-50%) translateX(10%);
}

.BattleSimBoardDesktop--swarm .BattleSimBoardDesktop__health--BLUE {
  top: 67.3%;
  transform: translate(-50%) translateX(-25%);
}

.BattleSimBoardDesktop--shadowfen .BattleSimBoardDesktop__health--RED {
  top: 4.8%;
  transform: translateX(-50%);
}

.BattleSimBoardDesktop--shadowfen .BattleSimBoardDesktop__health--BLUE {
  top: 66%;
  transform: translate(-50%);
}

.BattleSimBoardDesktop--ironclad .BattleSimBoardDesktop__health--RED {
  top: 4.8%;
  transform: translateX(-50%);
}

.BattleSimBoardDesktop--ironclad .BattleSimBoardDesktop__health--BLUE {
  top: 65%;
  transform: translate(-50%);
}

.BattleSimBoardDesktop--winter .BattleSimBoardDesktop__health--RED {
  top: 5.75%;
  transform: translateX(-50%);
}

.BattleSimBoardDesktop--winter .BattleSimBoardDesktop__health--BLUE {
  top: 66.3%;
  transform: translate(-50%);
}

.BattleSimBoardDesktop--dragon .BattleSimBoardDesktop__health--RED {
  top: 3.25%;
  transform: translateX(-50%);
}

.BattleSimBoardDesktop--dragon .BattleSimBoardDesktop__health--BLUE {
  top: 66.3%;
  transform: translate(-50%);
}

.BattleSimBoardDesktop--feline .BattleSimBoardDesktop__health--RED {
  top: 2.15%;
  transform: translateX(-50%);
}

.BattleSimBoardDesktop--feline .BattleSimBoardDesktop__health--BLUE {
  top: 68%;
  transform: translate(-50%);
}

.BattleSimBoardDesktop--neutral .BattleSimBoardDesktop__health--RED {
  top: 4.45%;
  transform: translateX(-50%);
}

.BattleSimBoardDesktop--neutral .BattleSimBoardDesktop__health--BLUE {
  top: 66.3%;
  transform: translate(-50%);
}

.BattleSimBoardDesktop__player {
  position: absolute;
  left: 10%;
  text-align: right;
}

.BattleSimBoardDesktop__player--RED {
  top: 8%;
}

.BattleSimBoardDesktop__player--BLUE {
  top: 79%;
}

/**
 * 1. Horizontal centering
 * 2. Hard-coded values based on background
 */
.BattleSimBoardDesktop__grid {
  position: absolute; /* 1 */
  left: 50%; /* 1 */
  transform: translateX(-50%); /* 1 */
  width: 23%; /* 2 */
  top: 24%; /* 2 */
}

.BattleSimBoardDesktop__cards {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 20%);
  width: 40%;
}
