/**
 * 1. Position context for actual grid
 */
.BattleSimBoardDesktop {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; /* 1 */
  overflow: hidden;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

html:not(.webp):not(.avif) .BattleSimBoardDesktop--swarm {
  background-image: url('/assets/images/sim/bg-swarm-desktop.png');
}
.webp:not(.avif) .BattleSimBoardDesktop--swarm {
  background-image: url('/assets/images/sim/bg-swarm-desktop.webp');
}
.avif .BattleSimBoardDesktop--swarm {
  background-image: url('/assets/images/sim/bg-swarm-desktop.avif');
}

html:not(.webp):not(.avif) .BattleSimBoardDesktop--ironclad {
  background-image: url('/assets/images/sim/bg-ironclad-desktop.png');
}
.webp:not(.avif) .BattleSimBoardDesktop--ironclad {
  background-image: url('/assets/images/sim/bg-ironclad-desktop.webp');
}
.avif .BattleSimBoardDesktop--ironclad {
  background-image: url('/assets/images/sim/bg-ironclad-desktop.avif');
}

html:not(.webp):not(.avif) .BattleSimBoardDesktop--winter {
  background-image: url('/assets/images/sim/bg-winter-desktop.png');
}
.webp:not(.avif) .BattleSimBoardDesktop--winter {
  background-image: url('/assets/images/sim/bg-winter-desktop.webp');
}
.avif .BattleSimBoardDesktop--winter {
  background-image: url('/assets/images/sim/bg-winter-desktop.avif');
}

html:not(.webp):not(.avif) .BattleSimBoardDesktop--shadowfen {
  background-image: url('/assets/images/sim/bg-shadowfen-desktop.png');
}
.webp:not(.avif) .BattleSimBoardDesktop--shadowfen {
  background-image: url('/assets/images/sim/bg-shadowfen-desktop.webp');
}
.avif .BattleSimBoardDesktop--shadowfen {
  background-image: url('/assets/images/sim/bg-shadowfen-desktop.avif');
}

/**
 * 1. Ensure proper ratio based on background size
 */
.BattleSimBoardDesktop::before {
  content: ''; /* 1 */
  display: block; /* 1 */
  padding-top: 62.5%; /* 1 */
}

.BattleSimBoardDesktop__health {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.BattleSimBoardDesktop--swarm .BattleSimBoardDesktop__health--RED {
  top: 8.4%;
  transform: translateX(-50%) translateX(10%);
}

.BattleSimBoardDesktop--swarm .BattleSimBoardDesktop__health--BLUE {
  top: 70.1%;
  transform: translate(-50%) translateX(-25%);
}

.BattleSimBoardDesktop--shadowfen .BattleSimBoardDesktop__health--RED {
  top: 7.6%;
  transform: translateX(-50%);
}

.BattleSimBoardDesktop--shadowfen .BattleSimBoardDesktop__health--BLUE {
  top: 69%;
  transform: translate(-50%);
}

.BattleSimBoardDesktop--ironclad .BattleSimBoardDesktop__health--RED {
  top: 7.8%;
  transform: translateX(-50%);
}

.BattleSimBoardDesktop--ironclad .BattleSimBoardDesktop__health--BLUE {
  top: 68.2%;
  transform: translate(-50%);
}

.BattleSimBoardDesktop--winter .BattleSimBoardDesktop__health--RED {
  top: 8.5%;
  transform: translateX(-50%);
}

.BattleSimBoardDesktop--winter .BattleSimBoardDesktop__health--BLUE {
  top: 69.2%;
  transform: translate(-50%);
}

.BattleSimBoardDesktop__player {
  position: absolute;
  left: 10%;
  text-align: right;
}

.BattleSimBoardDesktop__player--RED {
  top: 8%;
}

.BattleSimBoardDesktop__player--BLUE {
  top: 79%;
}

/**
 * 1. Horizontal centering
 * 2. Hard-coded values based on background
 */
.BattleSimBoardDesktop__grid {
  position: absolute; /* 1 */
  left: 50%; /* 1 */
  transform: translateX(-50%); /* 1 */
  width: 23%; /* 2 */
  top: 24%; /* 2 */
}

.BattleSimBoardDesktop__cards {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 20%);
  width: 40%;
}
