name: Continuous Integration
on: [deployment_status]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - name: Print context
        run: |
          echo ${{ github.event.deployment_status.state }}
          echo ${{ github.event.deployment_status.target_url }}
          echo ${{ github.event.deployment.environment }}

  install:
    # Only run if the build was successful and coming from Vercel
    if: |
      github.event.deployment_status.state == 'success' &&
      contains(github.event.deployment_status.target_url, 'vercel') == true
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm test

  tests:
    # Only run if the build was a successful preview from Vercel
    if: |
      github.event.deployment_status.state == 'success' &&
      github.event.deployment.environment == 'Preview' &&
      contains(github.event.deployment_status.target_url, 'vercel') == true
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3, 4, 5, 6, 7, 8, 9]
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          record: true
          parallel: true
          group: 'Integration tests'
        env:
          CYPRESS_BASE_URL: ${{ github.event.deployment_status.target_url }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        timeout-minutes: 30
