name: End-to-end tests (Push)
on:
  push:
    branches:
      - master
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    strategy:
      # Make sure not to cancel other containers when one test fails, as this
      # will kill Cypress processes leaving the Dashboard hanging.
      # See: https://github.com/cypress-io/github-action/issues/48
      fail-fast: false
      matrix:
        containers: [1, 2, 3, 4, 5, 6, 7, 8, 9]
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Cypress run
        uses: cypress-io/github-action@v1
        with:
          build: npm run build:cra
          start: npm start
          wait-on: http://localhost:3000
          record: true
          parallel: true
          group: 'Integration tests'
        env:
          CYPRESS_CACHE_FOLDER: './node_modules/CypressBinary'
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
