.CardChanges__section {
  margin-bottom: 3em;
}

.CardChanges__title {
  margin-bottom: 1.5em;
}

.CardChanges__list {
  padding: 0;
  list-style-position: inside;
  font-size: 115%;
}

.CardChanges__list > li {
  margin: 0.25em 0;
  text-indent: -1.5em;
  padding-left: 1.5em;
}

.CardChanges__buff {
  color: var(--light-shadowfen);
}
.CardChanges__nerf {
  color: var(--light-ironclad);
}
.CardChanges__mixed {
  color: var(--light-swarm);
}
.CardChanges__info {
  color: var(--light-winter);
}

.CardChanges__disclaimer {
  margin-bottom: 3em;
}
