.DBSuggestionsFilters {
}

.DBSuggestionsFilters__item {
  padding: 0 0.5em;
  margin-bottom: 1em;
}

.DBSuggestionsFilters__info {
  color: white;
  display: block;
  font-size: 90%;
  max-width: 40ch;
}

.DBSuggestionsFilters__toggle {
  background-color: transparent;
  border: 0;
  color: var(--beige);
  padding: 0;
  font: inherit;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.DBSuggestionsFilters__toggle:hover {
  border-bottom-color: currentColor;
}
